lib/aca_entities/fdsh/ssa/h3/xsd/XMLschemas/constraint/XMLschemas/extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://extn.ssac.ee.sim.dsh.cms.hhs.gov" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ssac="http://extn.ssac.ee.sim.dsh.cms.hhs.gov"
            xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0"
            xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0"
            xmlns:s="http://niem.gov/niem/structures/2.0"
            xmlns:ssac-codes="http://codes.ssac.ee.sim.dsh.cms.hhs.gov" version="2.0">

  <xsd:annotation>
    <xsd:documentation>An extension schema with components needed for SSA Composite Service which retrieves the Social Security Number (SSN), Death Information, Citizenship Status, Incarceration Data, Title II income Benefits Data and Quarters Of Coverage information from SSA for use in evaluating individual eligibility and enrollee continued eligibility for insurance affordability programs.
    </xsd:documentation>
    <xsd:appinfo>
      <ssac:SchemaComponent>
        <ssac:EffectiveDt>2013-01-31</ssac:EffectiveDt>
        <ssac:VersionDt>2013-01-15</ssac:VersionDt>
        <ssac:VersionDescriptionTxt>
          1. Quarters of Coverage Verification - translation of the Quarters of Coverage data received from SSA.
          2. The “PersonLivingInd” used to indicate if an applicant was deceased; not deceased and/or
          not releasable found in the response elements from SSA and the Hub will be updated to the
          “DeathConfirmationCode”.
          3. Title II Annual Income Verification - translation for the Annual Title II Income benefits received from SSA.
          Death Confirmation Code</ssac:VersionDescriptionTxt>
      </ssac:SchemaComponent>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0"
              schemaLocation="niem/niem-core/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0"
              schemaLocation="niem/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0"
              schemaLocation="niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0"
              schemaLocation="niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://codes.ssac.ee.sim.dsh.cms.hhs.gov"
              schemaLocation="codes-schema.xsd"/>

  <!--##########################################################-->
  <!--#                                                        #-->
  <!--#                      Complex Types                     #-->
  <!--#                                                        #-->
  <!--##########################################################-->

  <xsd:complexType name="SSACompositeRequestType">
    <xsd:annotation>
      <xsd:documentation>Request from HUB to SSA for the SSA composite service to verify the following.
        1. SSN Verification.
        2. Citizenship Verification.
        3. Incarceration Verification.
        4. Title II Monthly Income Verification.
        5. Title II Annual Income Verification.
        6. Quarters of Coverage Verification.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:SSACompositeIndividualRequest" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSACompositeIndividualRequestType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation>Request from HUB to SSA for each individual for whom verification is to be performed.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:Person"/>
          <xsd:element ref="ssac:RequestCitizenshipVerificationIndicator"/>
          <xsd:element ref="ssac:RequestIncarcerationVerificationIndicator"/>
          <xsd:element ref="ssac:RequestTitleIIMonthlyIncomeVerificationIndicator"/>
          <xsd:element ref="ssac:RequestTitleIIAnnualIncomeVerificationIndicator"/>
          <xsd:element ref="ssac:RequestQuartersOfCoverageVerificationIndicator"/>
          <xsd:element ref="ssac:RequestTitleIIMonthlyIncomeDate" minOccurs="0"
                       maxOccurs="1"/>
          <xsd:element ref="ssac:RequestTitleIIAnnualIncomeDate" minOccurs="0"
                       maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSACompositeResponseType">
    <xsd:annotation>
      <xsd:documentation>Response from SSA to HUB for the SSA composite service.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:choice>
          <xsd:element ref="ssac:SSACompositeIndividualResponse" maxOccurs="unbounded"/>
          <xsd:element ref="ssac:ResponseMetadata"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:PersonSSNIdentification"/>
          <xsd:element ref="ssac:PersonName"/>
          <xsd:element ref="nc:PersonBirthDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:PersonGivenName" minOccurs="0"/>
          <xsd:element ref="ssac:PersonMiddleName" minOccurs="0"/>
          <xsd:element ref="ssac:PersonSurName"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PersonSSNIdentificationType">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person assigned by the United States Social Security Administration.
        - Cannot be all 0's
        - Cannot start with 000
        - Cannot start with 666
        - Cannot start with 9 (i.e. 900-999*)
        - Cannot contain XXX-00-XXXX (0's in middle piece)
        - Cannot contain XXX-XX-0000 (0's in the end piece)
        TBD: This SSN restriction is likely to be elevated to the global  hixc namespace at some future time.
        It is understood that some exchange partners use less restrictive SSN patterns.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="niem-xsd:string">
        <xsd:pattern
                value="([1-57-8][0-9]{2}|0([1-9][0-9]|[0-9][1-9])|6([0-57-9][0-9]|[0-9][0-57-9]))([1-9][0-9]|[0-9][1-9])([1-9]\d{3}|\d[1-9]\d{2}|\d{2}[1-9]\d|\d{3}[1-9])"
        />
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="RestrictedGivenNameType">
    <xsd:annotation>
      <xsd:documentation>
        A data type created simply to restrict the length of proper names, such as the parts of a PersonName.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:ProperNameTextType">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="50"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="RestrictedMiddleNameType">
    <xsd:annotation>
      <xsd:documentation>
        A data type created simply to restrict the length of middle name, such as the parts of a PersonMiddleName.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:ProperNameTextType">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="50"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="RestrictedSurNameType">
    <xsd:annotation>
      <xsd:documentation>
        A data type created simply to restrict the length of proper names, such as the parts of a PersonName.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:ProperNameTextType">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="50"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="SSACompositeIndividualResponseType">
    <xsd:annotation>
      <xsd:documentation>Response for each individual person in the request.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:ResponseMetadata"/>
          <xsd:element ref="ssac:PersonSSNIdentification"/>
          <xsd:element ref="ssac:SSAResponse" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ResponseMetadataType">
    <xsd:annotation>
      <xsd:documentation>Response Status from HUB to Requestor. This is spawned by the HUB
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:ResponseCode"/>
          <xsd:element ref="ssac:ResponseDescriptionText"/>
          <xsd:element ref="ssac:TDSResponseDescriptionText" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSAResponseType">
    <xsd:annotation>
      <xsd:documentation>A data type for the SSA related responses.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:SSNVerificationIndicator" minOccurs="0"/>
          <xsd:element ref="ssac:DeathConfirmationCode" minOccurs="0"/>
          <xsd:element ref="nc:PersonUSCitizenIndicator" minOccurs="0"/>
          <xsd:element ref="ssac:PersonIncarcerationInformationIndicator" minOccurs="0"/>
          <xsd:element ref="ssac:SSATitleIIMonthlyIncomeInformationIndicator"
                       minOccurs="0"/>
          <xsd:element ref="ssac:SSATitleIIAnnualIncomeInformationIndicator" minOccurs="0"/>
          <xsd:element ref="ssac:SSAQuartersOfCoverageInformationIndicator" minOccurs="0"/>
          <xsd:element ref="ssac:SSAIncarcerationInformation" minOccurs="0"/>
          <xsd:element ref="ssac:SSATitleIIMonthlyIncome" minOccurs="0"/>
          <xsd:element ref="ssac:SSATitleIIYearlyIncome" minOccurs="0"/>
          <xsd:element ref="ssac:SSAQuartersOfCoverage" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSNVerificationCodeType">
    <xsd:annotation>
      <xsd:documentation>A data type for SSN Verification Codes provided by
        the Social Security Administration.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ssac-codes:SSNVerificationCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="SSAIncarcerationInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for the incarceration information.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:PrisonerIdentification"/>
          <xsd:element ref="ssac:PrisonerConfinementDate"/>
          <xsd:element ref="ssac:ReportingPersonText"/>
          <xsd:element ref="ssac:SupervisionFacility"/>
          <xsd:element ref="ssac:InmateStatusIndicator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SupervisionFacilityType">
    <xsd:annotation>
      <xsd:documentation>A data type for the Supervision facility.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:FacilityName"/>
          <xsd:element ref="ssac:FacilityLocation"/>
          <xsd:element ref="ssac:FacilityContactInformation"/>
          <xsd:element ref="ssac:FacilityCategoryCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FacilityLocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for the Facility Location.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:LocationStreet"/>
          <xsd:element ref="ssac:LocationCityName"/>
          <xsd:element ref="nc:LocationStateUSPostalServiceCode"/>
          <xsd:element ref="ssac:LocationPostalCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FacilityContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for the Facility Contact.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:PersonFullName"/>
          <xsd:element ref="ssac:ContactTelephoneNumber"/>
          <xsd:element ref="ssac:ContactFaxNumber"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSATitleIIMonthlyIncomeType">
    <xsd:annotation>
      <xsd:documentation>A data type for the TitleII monthly income.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:PersonDisabledIndicator"/>
          <xsd:element ref="ssac:OngoingMonthlyBenefitCreditedAmount" minOccurs="0"/>
          <xsd:element ref="ssac:OngoingMonthlyOverpaymentDeductionAmount" minOccurs="0"/>
          <xsd:element ref="ssac:OngoingPaymentInSuspenseIndicator" minOccurs="0"/>
          <xsd:element ref="ssac:RequestedMonthInformation" minOccurs="0"/>
          <xsd:element ref="ssac:RequestedMonthMinusOneInformation" minOccurs="0"/>
          <xsd:element ref="ssac:RequestedMonthMinusTwoInformation" minOccurs="0"/>
          <xsd:element ref="ssac:RequestedMonthMinusThreeInformation" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSATitleIIMonthlyInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for the TitleII Monthly income information
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:IncomeMonthYear"/>
          <xsd:element ref="ssac:BenefitCreditedAmount"/>
          <xsd:element ref="ssac:OverpaymentDeductionAmount" minOccurs="0"/>
          <xsd:element ref="ssac:PriorMonthAccrualAmount" minOccurs="0"/>
          <xsd:element ref="ssac:ReturnedCheckAmount" minOccurs="0"/>
          <xsd:element ref="ssac:PaymentInSuspenseIndicator"/>
          <xsd:element ref="ssac:NetMonthlyBenefitCreditedAmount"/>
          <xsd:element ref="ssac:MonthlyIncomeAmount"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSATitleIIYearlyIncomeType">
    <xsd:annotation>
      <xsd:documentation>A Data Type for TitleII yearly income details
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:TitleIIRequestedYearInformation" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSATitleIIYearlyInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for TitleII yearly income information
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:IncomeDate"/>
          <xsd:element ref="ssac:IncomeAmount"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSATitleIIRequestedYearInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for TitleII requested yearly income information
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:IncomeDate"/>
          <xsd:element ref="ssac:YearlyIncomeAmount"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SSAQuartersOfCoverageType">
    <xsd:annotation>
      <xsd:documentation>A data type for Quarters of Coverage, always returned by SSA as exactly 356 alphabetical characters that encode\ coverage information from 1937 to 2025.
        See Business Service Document for processing details.
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:LifeTimeQuarterQuantity" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="ssac:QualifyingYearAndQuarter" minOccurs="0" maxOccurs="89"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QualifyingYearAndQuarterType">
    <xsd:annotation>
      <xsd:documentation>Qualifying Year and Quarter
      </xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="ssac:QualifyingYear" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="ssac:QualifyingQuarter" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="QuarterYearType">
    <xsd:annotation>
      <xsd:documentation>
        A data type created to restrict Year from 1937 to 2025
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="niem-xsd:gYear">
        <xsd:minInclusive value="1937"/>
        <xsd:maxInclusive value="2025"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>

  <!--##########################################################-->
  <!--#                                                        #-->
  <!--#                       Simple Types                     #-->
  <!--#                                                        #-->
  <!--##########################################################-->
  <xsd:simpleType name="PrisonerIdentificationSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        The data type for prisoner identification
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LocationPostalCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        The nine digit postal code including the 5 digit zip and the 4 digit extension code
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{1,9}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LocationPostalExtensionCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        An identifier of a smaller area within a post office-assigned zone for an address.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{4}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PersonFullNameSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the Person Full Name
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ContactTelephoneNumberSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        The 10 digit telephone number
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{1,11}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ContactFaxNumberSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        The 10 digit FAX number
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{1,11}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="YearSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the year
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[2-9]\d{3}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="YearMonthSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the year and month
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[2-9]\d{3}(0[1-9]|1[0-2])"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SSNVerificationCodeTextSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the SSN Code Text
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="101"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ResponseCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>Error code format which accommodates several patterns:
        "HE" followed by exactly 6 digits for business errors, or
        "HX" followed by exactly 6 digits for system exceptions / HUB common codes.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="8"> </xsd:length>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SSAResponseCodeTextSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the Response code text
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PrisonerConfinementDateType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for Confinement date of the person
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ReportingPersonTextSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the Reporting person Name
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FacilityNameSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the Facility Name
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="60"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LocationStreetSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the Location Street Name
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="88"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LocationCityNameSimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for the Location City Name
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="QuarterQuantitySimpleType">
    <xsd:annotation>
      <xsd:documentation>
        A data type for Quarters Quantity
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="4"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!--##########################################################-->
  <!--#                                                        #-->
  <!--#                       Elements                         #-->
  <!--#                                                        #-->
  <!--##########################################################-->

  <xsd:element name="SSACompositeIndividualRequest" type="ssac:SSACompositeIndividualRequestType">
    <xsd:annotation>
      <xsd:documentation>Contains request infomation for each individual.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSAResponse" type="ssac:SSAResponseType">
    <xsd:annotation>
      <xsd:documentation>Response from SSA
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestCitizenshipVerificationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Citizenship Service Request Flag indicating that the applicants
        citizenship needs to be verified with SSA.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestIncarcerationVerificationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Incarceration Service Request Flag indicating that the applicants
        Incarceration status needs to be verified with SSA.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestTitleIIMonthlyIncomeVerificationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Title II Monthly Income Service Request Flag indicating that the applicants
        Title II Monthly Income needs to be verified with SSA.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestTitleIIAnnualIncomeVerificationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Title II Annual Income Service Request Flag indicating that the applicants
        Title II Annual Income needs to be verified with SSA.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestQuartersOfCoverageVerificationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Quarters of Coverage Service Request Flag indicating that the applicants
        Quarters of Coverage need to be verified with SSA.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestTitleIIMonthlyIncomeDate" type="ssac:YearMonthSimpleType">
    <xsd:annotation>
      <xsd:documentation>The month and year will be extracted for the Title II Monthly Income Service Request for which
        the applicants Title II Monthly Income need to be verified with SSA.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestTitleIIAnnualIncomeDate" type="ssac:YearSimpleType">
    <xsd:annotation>
      <xsd:documentation>The year will be extracted for the Title II Annual Income Service Request for which
        the applicants Title II Annual Income need to be verified with SSA.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonSSNIdentification" type="ssac:PersonSSNIdentificationType">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person assigned by the United States Social Security Administration.
        - Cannot be all 0's
        - Cannot start with 000
        - Cannot start with 666
        - Cannot start with 9 (i.e. 900-999*)
        - Cannot contain XXX-00-XXXX (0's in middle piece)
        - Cannot contain XXX-XX-0000 (0's in the end piece)
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonName" type="ssac:PersonNameType">
    <xsd:annotation>
      <xsd:documentation>	A combination of names and/or titles by which a person is known.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonGivenName" type="ssac:RestrictedGivenNameType">
    <xsd:annotation>
      <xsd:documentation>	Constraining the first name to a minimum of 1 and maximum of 50.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonMiddleName" type="ssac:RestrictedMiddleNameType">
    <xsd:annotation>
      <xsd:documentation>	Constraining the middle name to a minimum of 1 and maximum of 50.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonSurName" type="ssac:RestrictedSurNameType">
    <xsd:annotation>
      <xsd:documentation>	Constraining the Sur name to a minimum of 1 and maximum of 50.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="Person" type="ssac:PersonType">
    <xsd:annotation>
      <xsd:documentation>	A human being.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSACompositeIndividualResponse"
               type="ssac:SSACompositeIndividualResponseType">
    <xsd:annotation>
      <xsd:documentation>Contains response infomation for each individual.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSAResponseCode" type="ssac-codes:SSAResponseCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>Response code indicating errors or success
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSNVerificationCode" type="ssac:SSNVerificationCodeType">
    <xsd:annotation>
      <xsd:documentation>SSN verification code returned by ssa.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonIncarcerationInformationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the persons incarceration information is provided by SSA, False if either The Person is not Incarcerated or if SSA does not have any information.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSATitleIIMonthlyIncomeInformationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the persons Title II monthly income information is provided by SSA, False if either The Person does not have a Title II monthly Income or if SSA does not have any information.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSATitleIIAnnualIncomeInformationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the persons Title II annual income information is provided by SSA, False if either The Person does not have a Title II annual Income or if SSA does not have any information.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSAQuartersOfCoverageInformationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the persons Title II Quarters Of Coverage information is provided by SSA, False if either The Person does not have Quarters of Coverage or if SSA does not have any information.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSAIncarcerationInformation" type="ssac:SSAIncarcerationInformationType">
    <xsd:annotation>
      <xsd:documentation>Incarcertaion information of the person
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSATitleIIMonthlyIncome" type="ssac:SSATitleIIMonthlyIncomeType">
    <xsd:annotation>
      <xsd:documentation>TItle II Monthly Income information of the person
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSATitleIIYearlyIncome" type="ssac:SSATitleIIYearlyIncomeType">
    <xsd:annotation>
      <xsd:documentation>TItle II yearly Income information of the person
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PrisonerIdentification" type="ssac:PrisonerIdentificationSimpleType">
    <xsd:annotation>
      <xsd:documentation>Prisoner Identification number of the person.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PrisonerConfinementDate" type="ssac:PrisonerConfinementDateType">
    <xsd:annotation>
      <xsd:documentation>Confinement date of the person.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ReportingPersonText" type="ssac:ReportingPersonTextSimpleType">
    <xsd:annotation>
      <xsd:documentation>Reporing Person Name.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SupervisionFacility" type="ssac:SupervisionFacilityType">
    <xsd:annotation>
      <xsd:documentation>Supervision Facility details.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="InmateStatusIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the Person is incarcerated, False if otherwise.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="FacilityName" type="ssac:FacilityNameSimpleType">
    <xsd:annotation>
      <xsd:documentation>Facility Name.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="FacilityLocation" type="ssac:FacilityLocationType">
    <xsd:annotation>
      <xsd:documentation>Facility Details.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="FacilityContactInformation" type="ssac:FacilityContactInformationType">
    <xsd:annotation>
      <xsd:documentation>Facility Contact Information.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="FacilityCategoryCode" type="ssac-codes:FacilityCategoryCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>Facility Category code.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="LocationStreet" type="ssac:LocationStreetSimpleType">
    <xsd:annotation>
      <xsd:documentation>Street text of the Address
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="LocationCityName" type="ssac:LocationCityNameSimpleType">
    <xsd:annotation>
      <xsd:documentation>Location City.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="LocationPostalCode" type="ssac:LocationPostalCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonFullName" type="ssac:PersonFullNameSimpleType">
    <xsd:annotation>
      <xsd:documentation>Full Name of the person.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ContactTelephoneNumber" type="ssac:ContactTelephoneNumberSimpleType">
    <xsd:annotation>
      <xsd:documentation>Contact Telephone number.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ContactFaxNumber" type="ssac:ContactFaxNumberSimpleType">
    <xsd:annotation>
      <xsd:documentation>Contact Fax number.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PersonDisabledIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if person is disabled, false if not.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="OngoingMonthlyBenefitCreditedAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Ongoing Monthly Benefit Credited Amount.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="OngoingMonthlyOverpaymentDeductionAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Ongoing Monthly Overpayment Deduction Amount.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="OngoingPaymentInSuspenseIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True id Ongoing Payment is suspended, False if not.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestedMonthInformation" type="ssac:SSATitleIIMonthlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income Information of the Requested Month.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestedMonthMinusOneInformation"
               type="ssac:SSATitleIIMonthlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income Information of the Requested Month minus one month.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestedMonthMinusTwoInformation"
               type="ssac:SSATitleIIMonthlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income Information of the Requested Month minus two month.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="RequestedMonthMinusThreeInformation"
               type="ssac:SSATitleIIMonthlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income Information of the Requested Month minus three month.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="IncomeMonthYear" type="ssac:YearMonthSimpleType">
    <xsd:annotation>
      <xsd:documentation>Date in month year format
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="BenefitCreditedAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Benefit Credited Amount
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="OverpaymentDeductionAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Overpayment Deduction Amount
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PriorMonthAccrualAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Prior Month Accrual Amount
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ReturnedCheckAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Returned Check Amount
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="PaymentInSuspenseIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>true when Payment is in Suspense, false of otherwise.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="NetMonthlyBenefitCreditedAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Net Monthly Benefit Credited Amount is calculated for the requested
        month by subtracting the Monthly Overpayment Deduction Amount from the Monthly BenefitCredit Amount.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="MonthlyIncomeAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Monthly Income Amount is calculated for the requested month by adding the
        Monthly Prior Month Accrual Amount to the Net Monthly Benefit Credited Amount.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="TitleIIRequestedYearInformation"
               type="ssac:SSATitleIIRequestedYearInformationType">
    <xsd:annotation>
      <xsd:documentation>Income information for the requested Year.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="TitleIIRequestedYearMinusOneInformation"
               type="ssac:SSATitleIIYearlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income information for the requested Year minus one year.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="TitleIIRequestedYearMinusTwoInformation"
               type="ssac:SSATitleIIYearlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income information for the requested Year minus two year.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="TitleIIRequestedYearMinusThreeInformation"
               type="ssac:SSATitleIIYearlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income information for the requested Year minus three year.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="TitleIIRequestedYearMinusFourInformation"
               type="ssac:SSATitleIIYearlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income information for the requested Year minus four year.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="TitleIIOtherYearInformation" type="ssac:SSATitleIIYearlyInformationType">
    <xsd:annotation>
      <xsd:documentation>Income information for other Year.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="IncomeDate" type="ssac:YearSimpleType">
    <xsd:annotation>
      <xsd:documentation>Year for which Title II annual income is requested in the format CCYY.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="IncomeAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Income Amount
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="YearlyIncomeAmount" type="xsd:decimal">
    <xsd:annotation>
      <xsd:documentation>Title II annual income amount for the requested year calculated by the Hub
        to subtract all prior year amounts.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ResponseMetadata" type="ssac:ResponseMetadataType">
    <xsd:annotation>
      <xsd:documentation>Response Status from HUB to Requestor.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ResponseCode" type="ssac:ResponseCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>Hub related response code. These response codes are spawned in the HUB and are normally generated prior to calling the
        SSA service or while calling the SSA service.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="ResponseDescriptionText" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>The description pertaining to the Response code spawned in the HUB.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="TDSResponseDescriptionText" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation>A description of a response from a Trusted Data Source which may be agency-specific.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSAResponseCodeText" type="ssac:SSAResponseCodeTextSimpleType">
    <xsd:annotation>
      <xsd:documentation>Description of the Response Code Received
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSNVerificationCodeText" type="ssac:SSNVerificationCodeTextSimpleType">
    <xsd:annotation>
      <xsd:documentation>SSN and Death Response Code Description
        Hub will hold a translation table with the descriptions od ACA codes.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSNVerificationIndicator" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the SSN is valid False if otherwise.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="DeathConfirmationCode" type="ssac-codes:DeathConfirmationCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>“Confirmed” if the death can be confirmed by SSA or
        “Unconfirmed” if the Death cannot be confirmed
        (due to unavailable data or if it cannot be disclosed).
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="SSAQuartersOfCoverage" type="ssac:SSAQuartersOfCoverageType">
    <xsd:annotation>
      <xsd:documentation>A data type for Quarters of Coverage, always returned by SSA as
        exactly 356 alphabetical characters that encode\ coverage information from 1937 to 2025.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="LifeTimeQuarterQuantity" type="xsd:integer">
    <xsd:annotation>
      <xsd:documentation>The sum of all qualifying quarters worked
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="QualifyingQuarter" type="ssac:QuarterQuantitySimpleType">
    <xsd:annotation>
      <xsd:documentation>Number of qualifying quarters worked in a year
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="QualifyingYear" type="ssac:QuarterYearType">
    <xsd:annotation>
      <xsd:documentation>Year in which Qualifying Quarters were worked (1937 – 2025)
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="QualifyingYearAndQuarter" type="ssac:QualifyingYearAndQuarterType">
    <xsd:annotation>
      <xsd:documentation>Qualifying Year and Quarter will repeat for every year found in the QC pattern
        with its subsequent quarters worked.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


</xsd:schema>