lib/aca_entities/atp/schema/aces/at_dsh_cms_gov_extension.xsd

<!--AT-041916-MD/XMLschemas/constraint/XMLschemas/extension/ExtensionModel.xsd--><xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://at.dsh.cms.gov/extension/1.0" version="1" xmlns:ext="http://at.dsh.cms.gov/extension/1.0" xmlns:hix-core="http://hix.cms.gov/0.1/hix-core" xmlns:hix-ee="http://hix.cms.gov/0.1/hix-ee" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:usps="http://niem.gov/niem/usps_states/2.0" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:annotation>
      <xsd:appinfo>
         <i:ConformantIndicator>true</i:ConformantIndicator>
      </xsd:appinfo>
      <xsd:documentation source="">An extension schema with additional data components needed for Hub to identify the endpoint</xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://hix.cms.gov/0.1/hix-core" schemaLocation="hix_cms_gov_hix_core.xsd"/>
   <xsd:import namespace="http://hix.cms.gov/0.1/hix-ee" schemaLocation="hix_cms_gov_hix_ee.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="niem_gov_appinfo_2_0.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="niem_gov_appinfo_2_1.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="niem_gov_niem_core_2_0.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="niem_gov_proxy_xsd_2_0.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="niem_gov_structures_2_0.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/usps_states/2.0" schemaLocation="niem_gov_usps_states_2_0.xsd"/>
   <xsd:attribute name="atVersionText" type="ext:atVersionCodeSimpleType">
      <xsd:annotation>
         <xsd:documentation source="">Account Transfer Version Number</xsd:documentation>
      </xsd:annotation>
   </xsd:attribute>
   <xsd:element abstract="false" name="PhysicalHousehold" nillable="false" type="hix-ee:PhysicalHouseholdType">
      <xsd:annotation>
         <xsd:documentation source="">A set of persons that reside together.
</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="RecipientTransferActivityCode" nillable="false" type="ext:TransferActivityCodeType">
      <xsd:annotation>
         <xsd:documentation source="">Code which identifies Exchange or MedicaidCHIP</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="RecipientTransferActivityStateCode" nillable="false" type="usps:USStateCodeType">
      <xsd:annotation>
         <xsd:documentation source="">Transfer Activity State Code</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="ResponseMetadata" type="hix-core:ResponseMetadataType">
      <xsd:annotation>
         <xsd:documentation source="">Account Transfer Response</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="TransferActivity" type="ext:TransferActivityType"/>
   <xsd:element abstract="false" name="TransferActivityReferralQuantity" nillable="false" type="nc:QuantityType">
      <xsd:annotation>
         <xsd:documentation source="">Count of the applicants referred in this transfer for program eligibility determination by the state agency or FFM.   </xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="TransferHeader" type="ext:TransferHeaderType">
      <xsd:annotation>
         <xsd:documentation source="">A entity that starts the referral process.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType abstract="false" mixed="false" name="AccountTransferRequestPayloadType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for Account Transfer Request Details</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" ref="ext:TransferHeader"/>
               <xsd:element maxOccurs="unbounded" minOccurs="1" ref="hix-core:Sender"/>
               <xsd:element maxOccurs="unbounded" minOccurs="1" ref="hix-core:Receiver"/>
               <xsd:element maxOccurs="1" minOccurs="1" ref="hix-ee:InsuranceApplication"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="hix-ee:Assister"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="hix-ee:AuthorizedRepresentative"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="hix-ee:MedicaidHousehold"/>
               <xsd:element maxOccurs="unbounded" minOccurs="1" ref="hix-core:Person"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="hix-ee:TaxReturn"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="hix-core:VerificationMetadata"/>
               <xsd:element maxOccurs="unbounded" minOccurs="1" ref="ext:PhysicalHousehold"/>
            </xsd:sequence>
            <xsd:attribute ref="ext:atVersionText" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="AccountTransferResponsePayloadType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for Account Transfer Response Details</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" ref="ext:ResponseMetadata"/>
            </xsd:sequence>
            <xsd:attribute ref="ext:atVersionText" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:simpleType name="TransferActivityCodeSimpleType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for Transfer Activity Code</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="Exchange">
            <xsd:annotation>
               <xsd:documentation source="">Exchange</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MedicaidCHIP">
            <xsd:annotation>
               <xsd:documentation source="">MedicaidCHIP</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType abstract="false" mixed="false" name="TransferActivityCodeType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for Transfer Activity Code</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ext:TransferActivityCodeSimpleType">
            <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="TransferActivityType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="ActivityType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for An entity that started the referral activity.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nc:ActivityType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" ref="ext:TransferActivityReferralQuantity"/>
               <xsd:element maxOccurs="1" minOccurs="1" ref="ext:RecipientTransferActivityCode"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="ext:RecipientTransferActivityStateCode"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="TransferHeaderType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for An entity that started the referral process.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" ref="ext:TransferActivity"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:simpleType name="atVersionCodeSimpleType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for for account transfer version number</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="2.4"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType abstract="false" mixed="false" name="atVersionCodeType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for for account transfer version number</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ext:atVersionCodeSimpleType">
            <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>