lib/aca_entities/fdsh/h36/xsd/XMLschemas/EXT/HHS-IRS-EXT-ACA-ISR-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:us:gov:treasury:irs:ext:aca:hhsisr:3.0" xmlns:irs="urn:us:gov:treasury:irs:common" targetNamespace="urn:us:gov:treasury:irs:ext:aca:hhsisr:3.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>ACA HHS ISR 3.0</DictionaryEntryNm>
				<MajorVersionNum>2</MajorVersionNum>
				<MinorVersionNum>1</MinorVersionNum>
				<VersionEffectiveBeginDt>04-13-2018</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Implemented UWR 203958 changes</VersionDescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!--===== Imports / Include =====-->
	<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC.xsd"/>
	<!--======== Local CAC Defintions ============-->
	<xsd:element name="ACAAttachmentDetail" type="ACAAttachmentDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail</DescriptionTxt>
					<CACInd>Y</CACInd>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchDetail" type="ACABatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Detail</DescriptionTxt>
					<CACInd>Y</CACInd>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchManifestDetail" type="ACABatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>2</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail</DescriptionTxt>
					<CACInd>Y</CACInd>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchTransmissionDetail" type="ACABatchTransmissionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Transmission Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Transmission Detail</DescriptionTxt>
					<CACInd>Y</CACInd>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--======== Local CAC Type Defintions ========-->
	<xsd:complexType name="ACAAttachmentDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:BinaryFormatCd"/>
			<xsd:element ref="irs:ChecksumAugmentationNum"/>
			<xsd:element ref="AttachmentByteSizeNum"/>
			<xsd:element ref="irs:DocumentSystemFileNm"/>
			<xsd:element ref="irs:SystemDocumentId"/>
			<xsd:element ref="SequenceNum"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:BatchId"/>
			<xsd:element ref="BatchPartnerId"/>
			<xsd:element ref="BatchAttachmentTransmissionQty"/>
			<xsd:element ref="BatchCategoryCd"/>
			<xsd:element ref="BatchTransmissionQty"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchDetail"/>
			<xsd:element ref="ACABatchTransmissionDetail"/>
			<xsd:element ref="irs:ACAReportingServiceDetail" minOccurs="0"/>
			<xsd:element ref="ACAAttachmentDetail"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchTransmissionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Transmission Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Transmission Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TransmissionAttachmentQty"/>
			<xsd:element ref="SequenceNum"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--======== Local CBC Element Declarations ======-->
	<xsd:element name="AttachmentByteSizeNum" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Attachment Byte Size Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A size of a binary object (attachment) in bytes.</DescriptionTxt>
					<DataElementId>166001</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchAttachmentTransmissionQty" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Attachment Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of total number of attachments in a batch submission (across all transmissions).</DescriptionTxt>
					<DataElementId>166002</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchCategoryCd" type="BatchCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Category Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The kind of batch submission, a cummulative list of predetermined values identifying each possible kind of batch processing.</DescriptionTxt>
					<DataElementId>166003</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchPartnerId" type="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Partner Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a participant in the Health Insurance Exchange Ecosystem. Expected to be duplication of Partner ID provided inside attached file to identify which Partner has submitted a report/request.</DescriptionTxt>
					<DataElementId>166005</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchTransmissionQty" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of transmissions in a batch submission. The total number of submissions required to complete the report submittal due to files being split to meet max file size.</DescriptionTxt>
					<DataElementId>166006</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSequenceNum" type="DocumentSequenceNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-30</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Developed a generic sequence number for document</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to complete the identification of the submitted document</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceNum" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-11-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Developed a generic sequence number for tax account module freeze, hold and status codes</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to complete the identification of this dependent data class</DescriptionTxt>
					<DataElementId>150931</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransmissionAttachmentQty" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Attachment Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of attachments included in a single transmission message.</DescriptionTxt>
					<DataElementId>166014</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--======== Local SDT Element Declarations ======-->
	<xsd:simpleType name="BatchCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Category Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is a cummulative list of predetermined values identifying each possible kind of batch processing (List will be updated as new bulk services are implemented).</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IRS_EOM_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of year Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_APTC_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies APTC Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_IFSV_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies IFSV Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentSequenceNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document Sequence Number Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-07-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ACA</VersionDescriptionTxt>
					<DescriptionTxt>Developed a generic sequence number (range 00001-99999) for documents</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0000[1-9]|000[1-9][0-9]|00[1-9][0-9][0-9]|0[1-9][0-9][0-9][0-9]|[1-9][0-9][0-9][0-9][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exchange Identification Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A exchange identifier used for all request and response messages in ACA messages exchanges.The CMS Exchange ID will be a part of the MessageID in the SOAP header</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}\.[a-zA-Z]{2}[a-zA-Z*]{1}\.[a-zA-Z0-9]{3}\.[0-9]{3}\.[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
