lib/aca_entities/fdsh/h36/xsd/XMLschemas/SRV/HHS-IRS-GetIFSVBulkRequestService-1.0.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
   xmlns:irs="urn:us:gov:treasury:irs:common" 
   xmlns:irsHDR="urn:us:gov:treasury:irs:msg:acabusinessheader" 
   xmlns:irsMSG="urn:us:gov:treasury:irs:msg:hhsirsacabulkrequestexchange"
   xmlns="urn:us:gov:treasury:irs:srv:getifsvbulkrequest"
   name="GetIFSVBulkRequestService-1.0" 
   targetNamespace="urn:us:gov:treasury:irs:srv:getifsvbulkrequest"
   xmlns:wsp="http://www.w3.org/ns/ws-policy" 
   xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
   xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" 
   xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
   xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
   xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
   xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
   xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"  
   xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
	<wsdl:documentation>
		<WSDLComponent>
			<DescriptionAndSemantics>This service will accept a IFSV bulk pay load request</DescriptionAndSemantics>
			<Provider>Example Provider</Provider>
			<EndPointInformation/>
			<ChannelsSupported/>
			<Operator/>
			<AvailabilityInformation/>
			<CapacityInformation/>
			<PolicyGuardImplementation/>
			<AccessControl/>
			<Dependency/>
			<ChargeBackInformation/>
			<ProvisioningInformation/>
			<Consumers>Example Consumer</Consumers>
		</WSDLComponent>
		<Component>
			<DictionaryEntryNm>Get IFSV (Income and Family Size Verification) Bulk Request</DictionaryEntryNm>
			<MajorVersionNum>1</MajorVersionNum>
			<MinorVersionNum>0</MinorVersionNum>
			<VersionEffectiveBeginDt>2012-09-10</VersionEffectiveBeginDt>
			<VersionDescriptionTxt>initial version</VersionDescriptionTxt>
			<DescriptionTxt>WSDL Definition: This service will accept a IFSV bulk payload request.</DescriptionTxt>
		</Component>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:us:gov:treasury:irs:msg:hhsirsacabulkrequestexchange" schemaLocation="../MSG/HHS-IRS-ACABulkRequestExchangeMessage-1.0.xsd"/>
			<xsd:import namespace="urn:us:gov:treasury:irs:msg:acabusinessheader" schemaLocation="../MSG/HHS-IRS-ACABusinessHeaderMessage-1.0.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="irs:ErrorMessageDetail"/>
	</wsdl:message>
	<wsdl:message name="GetIFSVBulkRequestExchange">
		<wsdl:part name="GetIFSVBulkRequestExchange" element="irsMSG:ACABulkRequestExchange"/>
	</wsdl:message>
	<wsdl:message name="GetIFSVBulkRequestExchangeResponse">
		<wsdl:part name="GetIFSVBulkRequestExchangeResponse" element="irsMSG:ACABulkRequestExchangeResponse"/>
	</wsdl:message>
	<wsdl:message name="ACABusinessHeader">
		<wsdl:part name="ACABusinessHeader" element="irsHDR:ACABusinessHeader"/>
	</wsdl:message>
	
	<wsdl:message name="ACABatchManifestDetail">
		<wsdl:part name="ACABatchManifestDetail" element="irs:ACABatchManifestDetail"/>
	</wsdl:message>
	
	<wsdl:portType name="GetIFSVBulkRequestExchangePortType">
		<wsdl:operation name="GetIFSVBulkRequestExchange">
			<wsdl:input message="GetIFSVBulkRequestExchange"/>
			<wsdl:output message="GetIFSVBulkRequestExchangeResponse"/>
			<wsdl:fault name="fault" message="Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetIFSVBulkRequestExchangeBinding" type="GetIFSVBulkRequestExchangePortType">
		<wsp:PolicyReference URI="#Addressing" />
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetIFSVBulkRequestExchange">
			<soapbind:operation soapAction="GetIFSVBulkRequestExchange"/>
			<wsdl:input>
				<soapbind:header message="ACABusinessHeader" part="ACABusinessHeader" use="literal"/>
				<soapbind:header message="ACABatchManifestDetail" part="ACABatchManifestDetail" use="literal"/>
				<soapbind:body parts="GetIFSVBulkRequestExchange" use="literal" />		
			</wsdl:input>
			<wsdl:output>
				<soapbind:header message="ACABusinessHeader" part="ACABusinessHeader" use="literal"/>
				<soapbind:body parts="GetIFSVBulkRequestExchangeResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soapbind:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetIFSVBulkRequestExchangeService">
		<wsdl:port name="GetIFSVBulkRequestExchangePort" binding="GetIFSVBulkRequestExchangeBinding">
			<soapbind:address location="https://localhost:8443/BRMGateway_IFSV_1.0_WS/GetIFSVBulkRequestExchangePortType"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="Addressing"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
			<wsp:All>
				<wsaw:UsingAddressing wsdl:required="true" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" /> 
			</wsp:All>
		</wsp:ExactlyOne>       
    </wsp:Policy>
</wsdl:definitions>