lib/aca_entities/fdsh/pvc/dmf/request/XMLschemas/constraint/XMLschemas/niem/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ext="http://pvcdmfrqst.ee.sim.dsh.cms.hhs.gov/extension/1.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">NIEM Core includes both Universal (U) and Common (C) components. The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/fbi/2.0" schemaLocation="../../../.././XMLschemas/constraint/XMLschemas/niem/fbi/2.0/fbi.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://pvcdmfrqst.ee.sim.dsh.cms.hhs.gov/extension/1.0" schemaLocation="../../../.././XMLschemas/constraint/XMLschemas/extension/ExtensionModel.xsd"/>
  <xsd:element abstract="false" name="Date" nillable="true" substitutionGroup="nc:DateRepresentation" type="niem-xsd:date">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A full date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="true" name="DateRepresentation" nillable="false">
    <xsd:annotation>
      <xsd:documentation source="">A data concept for a A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="EntityPersonReference" nillable="true" substitutionGroup="nc:EntityRepresentation" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A person capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="true" name="EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation source="">A data concept for a A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IdentificationID" nillable="true" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonBirthDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation source="">A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonGivenName" nillable="false" type="ext:PersonName50CharRestrictionType">
    <xsd:annotation>
      <xsd:documentation source="">A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonMiddleName" nillable="true" type="ext:PersonName50CharRestrictionType">
    <xsd:annotation>
      <xsd:documentation source="">A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonName" nillable="true" type="nc:PersonNameType">
    <xsd:annotation>
      <xsd:documentation source="">A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonNameSuffixText" nillable="true" type="ext:PersonNameSuffixRestrictionType">
    <xsd:annotation>
      <xsd:documentation source="">A term appended after the family name that qualifies the name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonSSNIdentification" nillable="true" type="ext:SSNIdentificationType">
    <xsd:annotation>
      <xsd:documentation source="">A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="true" name="PersonSex" nillable="true">
    <xsd:annotation>
      <xsd:documentation source="">A data concept for a A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonSexCode" nillable="true" substitutionGroup="nc:PersonSex" type="fbi:SEXCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonSurName" nillable="true" type="ext:PersonName50CharRestrictionType">
    <xsd:annotation>
      <xsd:documentation source="">A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="AmountType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for an amount of money.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="DateType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a calendar date.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:Date"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="EntityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:EntityPersonReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="IdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a representation of an identity.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:IdentificationID"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="NumericType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a number value.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PercentageSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="1"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="PercentageType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a ratio, proper fraction, or percentage, with permissible decimal values ranging from 0 to 1 inclusive.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:PercentageSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PersonNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PersonNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:PersonGivenName"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonMiddleName"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:PersonSurName"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonNameSuffixText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PersonType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a human being.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:PersonSSNIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:PersonName"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:PersonBirthDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ProperNameTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="QuantityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a count or tally.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="StatusType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a state of something or someone.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="TextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a character string.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
