lib/aca_entities/fdsh/ridp/h139/xsd/XMLschemas/constraint/XMLschemas/extension/ExtensionModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:Q1="http://niem.gov/niem/niem-core/2.0" xmlns:ext="http://ridp.dsh.cms.gov/extension/1.0" xmlns:hix-core="http://hix.cms.gov/0.1/hix-core" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ridp.dsh.cms.gov/extension/1.0" version="1">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">An extension schema with components needed for Remote ID Proofing Service (RIDP).</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://hix.cms.gov/0.1/hix-core" schemaLocation="../../../.././XMLschemas/constraint/XMLschemas/niem/domains/hix/0.1/hix-core/hix-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../.././XMLschemas/constraint/XMLschemas/niem/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:element abstract="false" name="ContactInformation" nillable="false" type="nc:ContactInformationType">
    <xsd:annotation>
      <xsd:documentation source="">A Data type for the contact information of the person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CurrentAddress" nillable="false" type="nc:LocationType">
    <xsd:annotation>
      <xsd:documentation source="">The Address of the Person or Applicant</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DSHReferenceNumber" nillable="false" type="ext:DSHReferenceNumberSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">A unique number generated by the Data Service Hub to identify a Remote Identity proofing request</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="FinalDecisionCode" nillable="false" type="ext:FinalDecisionCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">Code indicating the final disposition of the inquiry. Refer to the Precise ID Summary and Appendix (Decision Codes) for a list of codes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LevelOfProofingCode" nillable="false" type="ext:LevelOfProofingCodeSimpleType"/>
  <xsd:element abstract="false" name="Person" nillable="false" type="hix-core:PersonType">
    <xsd:annotation>
      <xsd:documentation source="">A data type for the person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PrimaryRequest" nillable="false" substitutionGroup="ext:Request" type="ext:PrimaryRequestInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Request" i:namespace="http://ridp.dsh.cms.gov/extension/1.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A The data element which contains the primary request submitted to the HUB</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="true" name="Request" nillable="false">
    <xsd:annotation>
      <xsd:documentation source="">A data concept for a This contains all the request to the HUB</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SecondaryRequest" nillable="false" substitutionGroup="ext:Request" type="ext:SecondaryRequestInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Request" i:namespace="http://ridp.dsh.cms.gov/extension/1.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A The Data Element that contains subsequent request that is submitted to the HUB</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SessionIdentification" nillable="false" type="ext:RestrictedSessionIdentificationSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">Session ID used to tie subsequent submissions to the initial inquiry</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberNumber" type="ext:RestrictedSubscriberNumberSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
      <xsd:documentation source="">The subscriber number(Sub Code) of the Requester.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationAnswerChoiceText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">The element for the QuestionChoices</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationAnswerSet" nillable="false" type="ext:VerificationAnswerSetType">
    <xsd:annotation>
      <xsd:documentation source="">The set of answers submitted to the HUB</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationAnswers" nillable="false" type="ext:VerificationAnswerAndQuestionNumberType">
    <xsd:annotation>
      <xsd:documentation source="">Answers to the verification questions</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationQuestionNumber" nillable="false" type="ext:QuestionNumberRestrictionCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">Question number of the corresponding answer</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationQuestionSet" nillable="false" type="ext:VerificationQuestionType">
    <xsd:annotation>
      <xsd:documentation source="">The data type for the QuestionText and QuestionChoice elements</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationQuestionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">The element for the QuestionText</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationQuestions" nillable="false" type="ext:VerificationQuestionSetType">
    <xsd:annotation>
      <xsd:documentation source="">The data element for the Questions</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificationResponse" nillable="false" type="ext:VerificationResponseType">
    <xsd:annotation>
      <xsd:documentation source="">Response from the TDS</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="VerificatonAnswer" nillable="false" type="ext:AnswerRestrictionCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">Answers to individual questions</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="AnswerRestrictionCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the Answer Options. Can be a number from 1 to 5</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="((1|01)|(2|02)|(3|03)|(4|04)|(5|05))?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DSHReferenceNumberSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A restriction for the Data Service Hub Reference Number so as not to exceed 30 characters.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="90"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FinalDecisionCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for Verification Decision Codes</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACC">
        <xsd:annotation>
          <xsd:documentation source="">Accept
</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RF1">
        <xsd:annotation>
          <xsd:documentation source="">Prompt to Experian Call Center</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RF2">
        <xsd:annotation>
          <xsd:documentation source="">Back to CMS to prompt user for additional information OR recheck of data inputted</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RF3">
        <xsd:annotation>
          <xsd:documentation source="">Use Limit Violation / Prompt to Experian Call Center</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RF4">
        <xsd:annotation>
          <xsd:documentation source="">Back to CMS / HARD FAIL / Do NOT Prompt to Experian Call Center</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullTelephoneNumberSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A restricted data type for telephone number</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z0-9\(\)\-]{10,13})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LevelOfProofingCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="LevelTwo"/>
      <xsd:enumeration value="LevelThree"/>
      <xsd:enumeration value="OptionThree">
        <xsd:annotation>
          <xsd:documentation source="">Option 3 is used for ID screening Knowledge IQ score</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="LocationCityNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for The City Name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:ProperNameTextType">
        <xsd:maxLength value="100"/>
        <xsd:minLength value="1"/>
        <xsd:pattern value="([a-zA-Z \.]{1,38}){1}"/>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LocationPostalCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for The postal code</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
      <xsd:minLength value="5"/>
      <xsd:pattern value="([\d]{5})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocationPostalExtensionCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for The Postal Code Extension</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="4"/>
      <xsd:pattern value="([\d]{4})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="PersonGivenNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A restricted data type for First Name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:PersonNameTextType">
        <xsd:maxLength value="50"/>
        <xsd:minLength value="1"/>
        <xsd:pattern value="([a-zA-Z]{1,50}){1}"/>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PersonMiddleNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A restricted data type Middlename</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:PersonNameTextType">
        <xsd:maxLength value="50"/>
        <xsd:minLength value="1"/>
        <xsd:pattern value="([a-zA-Z]{1,50})?"/>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PersonNameSuffixTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for The Name Suffix</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:PersonNameTextType">
        <xsd:maxLength value="18"/>
        <xsd:minLength value="1"/>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PersonSSNIdentificationSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A restricted datatype for Person SSN</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\d{3}-\d{2}-\d{4}|\d{9}|\d{4})?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="PersonSurnameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A restricted data type for Surname</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:PersonNameTextType">
        <xsd:maxLength value="50"/>
        <xsd:minLength value="1"/>
        <xsd:pattern value="([a-zA-Z \-'\s]*\S[a-zA-Z \-'\s]*)"/>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PrimaryRequestInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for The First request for verification of the applicant. It contains the Applicant demographic information.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:Person"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:CurrentAddress"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:ContactInformation"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:LevelOfProofingCode"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:SubscriberNumber"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="QuestionNumberRestrictionCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the Question Number. Can be a number from 1 to 8</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="(0[1-5]|[1-5])"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="RequestPayloadType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A Documented Component</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:Request"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ResponseCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:TextType">
        <xsd:length value="8"/>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ResponsePayloadType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the Response elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="hix-core:ResponseMetadata"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:VerificationResponse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="RestrictedSessionIdentificationSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the session ID.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z0-9# \- / \.]{1,70}){1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RestrictedSubscriberNumberSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9]{7}){1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="SecondaryRequestInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the secondary request which consists of the answers provided along with the session ID.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:VerificationAnswerSet"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:SessionIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:DSHReferenceNumber"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="SessionIdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the session identification created by Experian on the first response and maintained in all subsequent calls to Experian for the same applicant.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:SessionIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="StreetNameType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for The Street Name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="nc:ProperNameTextType">
        <xsd:maxLength value="75"/>
        <xsd:minLength value="1"/>
        <xsd:pattern value="([a-zA-Z0-9# \- / \.]{1,68}){1}"/>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="VerificationAnswerAndQuestionNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the answer set which contains the Question number and Answer option selected by the Applicant.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:VerificatonAnswer"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:VerificationQuestionNumber"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="VerificationAnswerSetType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the Answer set. A maximum of Eight occurrences of the answer set are possible.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="5" minOccurs="3" ref="ext:VerificationAnswers"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="VerificationQuestionSetType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the set of questions for the applicant.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="5" minOccurs="3" ref="ext:VerificationQuestionSet"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="VerificationQuestionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for The data type for the QuestionText and QuestionChoice elements</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ext:VerificationQuestionText"/>
          <xsd:element maxOccurs="5" minOccurs="1" ref="ext:VerificationAnswerChoiceText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="VerificationResponseType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the Verification Response which contains the Response code and Text from Experian along with the Session ID and a set of questions to be answered by the Applicant. The Session ID needs to be passed in all subsequent calls to Experian for the same applicant.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:SessionIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:VerificationQuestions"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:FinalDecisionCode"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ext:DSHReferenceNumber"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
