lib/aca_entities/fdsh/sim/ee/vlp/xsd/ReverifyAgency3InititVerif.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema targetNamespace="http://vilpsav.ee.sim.dsh.cms.hhs.gov" elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:vlprev="http://vilpsav.ee.sim.dsh.cms.hhs.gov"
    version="1.1">
    
    <xsd:annotation>
        <xsd:documentation>
            <SchemaComponent>
                <EffectiveDt>2013-05-01</EffectiveDt>
                <VersionDt>2013-04-17</VersionDt>
                <VersionDescriptionTxt>
                    This is the initial version of v33 ReverifyAgency3InitVerif request and response.
                    
                    1.1 - added RequesterCommentsForHub and CategoryCode.
                </VersionDescriptionTxt>
                <DescriptionTxt>Request and Response payloads for the SOA service ReverifyAgency3InitVerif
                    of Verify Lawful Presence.
                </DescriptionTxt>
            </SchemaComponent>
        </xsd:documentation>
    </xsd:annotation>
    
    <!--##########################################################-->
    <!--#                                                        #-->
    <!--#                        Root Nodes                      #-->
    <!--#                                                        #-->
    <!--##########################################################-->
    
    <xsd:element name="ReverifyAgency3InitVerifRequest" type="vlprev:ReverifyAgency3InitVerifRequestType">
        <xsd:annotation>
            <xsd:documentation>
                <Component>
                    <DictionaryEntryNm>Request Message - ReverifyAgency3InitVerif of VLP </DictionaryEntryNm>
                    <DescriptionTxt>Request payload for the SOA service ReverifyAgency3InitVerif (from
                        Verify Lawful Presence)</DescriptionTxt>
                </Component>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="ReverifyAgency3InitVerifResponse" type="vlprev:ReverifyAgency3InitVerifResponseType">
        <xsd:annotation>
            <xsd:documentation>
                <Component>
                    <DictionaryEntryNm>Response Message - ReverifyAgency3InitVerif of VLP  </DictionaryEntryNm>
                    <DescriptionTxt>Response payload for the SOA service ReverifyAgency3InitVerif (from
                        Verify Lawful Presence)</DescriptionTxt>
                </Component>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <!--##########################################################-->
    <!--#                                                        #-->
    <!--#                      Complex Types                     #-->
    <!--#                                                        #-->
    <!--##########################################################-->
    
    <xsd:complexType name="ReverifyAgency3InitVerifRequestType">
        <xsd:sequence>
            <xsd:element ref="vlprev:CaseNumber"/>
            <xsd:element ref="vlprev:ReceiptNumber" minOccurs="0"/>
            <xsd:element ref="vlprev:AlienNumber" minOccurs="0"/>
            <xsd:element ref="vlprev:I94Number" minOccurs="0"/>
            <xsd:element ref="vlprev:SEVISID" minOccurs="0"/>
            <xsd:element ref="vlprev:PassportCountry" minOccurs="0"/>
            <xsd:element ref="vlprev:NaturalizationNumber" minOccurs="0"/>
            <xsd:element ref="vlprev:CitizenshipNumber" minOccurs="0"/>
            <xsd:element ref="vlprev:VisaNumber" minOccurs="0"/>
            <xsd:element ref="vlprev:LastName" minOccurs="0"/>
            <xsd:element ref="vlprev:FirstName" minOccurs="0"/>
            <xsd:element ref="vlprev:MiddleName" minOccurs="0"/>
            <xsd:element ref="vlprev:DateOfBirth" minOccurs="0"/>
            <xsd:element ref="vlprev:RequestedCoverageStartDate"/>
            <xsd:element ref="vlprev:FiveYearBarApplicabilityIndicator"/>
            <xsd:element ref="vlprev:RequesterCommentsForHub"/>
            <xsd:element ref="vlprev:CategoryCode"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="PassportCountryType">
        <xsd:sequence>
            <xsd:element ref="vlprev:PassportNumber"/>
            <xsd:element ref="vlprev:CountryOfIssuance"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ReverifyAgency3InitVerifResponseType">
        <xsd:sequence>
            <xsd:element ref="vlprev:ReverifyAgency3InitVerifResponseSet" minOccurs="0"/>
            <xsd:element ref="vlprev:ResponseMetadata"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ReverifyAgency3InitVerifResponseSetType">
        <xsd:sequence>
            <xsd:element ref="vlprev:CaseNumber"/>
            <xsd:element ref="vlprev:NonCitLastName" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitFirstName" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitMiddleName" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitBirthDate" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitEntryDate" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitAdmittedToDate" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitAdmittedToText" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitCountryBirthCd" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitCountryCitCd" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitCoaCode" minOccurs="0"/>
            <xsd:element ref="vlprev:NonCitEadsExpireDate" minOccurs="0"/>
            <xsd:element ref="vlprev:EligStatementCd"/>
            <xsd:element ref="vlprev:EligStatementTxt"/>
            <xsd:element ref="vlprev:WebServSftwrVer"/>
            <xsd:element ref="vlprev:GrantDate" minOccurs="0"/>
            <xsd:element ref="vlprev:GrantDateReasonCd" minOccurs="0"/>
            <xsd:element ref="vlprev:SponsorDataFoundIndicator" minOccurs="0"/>
            <xsd:element ref="vlprev:ArrayOfSponsorshipData" minOccurs="0"/>
            <xsd:element ref="vlprev:SponsorshipReasonCd" minOccurs="0"/>
            <xsd:element ref="vlprev:PhotoIncludedIndicator" minOccurs="0"/>
            <xsd:element ref="vlprev:PhotoBinaryAttachment" minOccurs="0"/>
            <xsd:element ref="vlprev:CaseSentToSecondaryIndicator"/>
            <xsd:element ref="vlprev:FiveYearBarApplyCode"/>
            <xsd:element ref="vlprev:LawfulPresenceVerifiedCode"/>
            <xsd:element ref="vlprev:DSHAutoTriggerStepTwo"/>
            <xsd:element ref="vlprev:QualifiedNonCitizenCode"/>
            <xsd:element ref="vlprev:FiveYearBarMetCode"/>
            <xsd:element ref="vlprev:USCitizenCode"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ArrayOfSponsorshipDataType">
        <xsd:annotation>
            <xsd:documentation>Type for Array of SponsorshipData objects.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="SponsorshipData" type="vlprev:SponsorshipDataType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>An object that identifies one individual who sponsored the applicant.
                        Consists of person name and address information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SponsorshipDataType">
        <xsd:annotation>
            <xsd:documentation>Each instance of a SponsorshipData
                object identifies one individual who sponsored the applicant.
                TBD constraints. Intentionally using some unnamed simpleTypes within this 
                complexType since they are likely to be removed.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="LastName">
                <xsd:annotation>
                    <xsd:documentation>The last name of the individual sponsoring the non citizen.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FirstName">
                <xsd:annotation>
                    <xsd:documentation>The first name of the individual sponsoring the non citizen.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MiddleName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The middle name of the individual sponsoring the non citizen.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Addr1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The address line 1 of the individual sponsoring the non citizen.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Addr2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The address line 2 of the individual sponsoring the non citizen..</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="City" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The city of the individual sponsoring the non citizen.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="StateCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The state code of the individual sponsoring the non citizen.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/> 
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ZipCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The zip code of the individual sponsoring the non citizen.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ResponseMetadataType">
        <xsd:sequence>
            <xsd:element ref="vlprev:ResponseCode"/>
            <xsd:element ref="vlprev:ResponseDescriptionText"/>
            <xsd:element ref="vlprev:TDSResponseDescriptionText" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>  
    
    <!--##########################################################-->
    <!--#                                                        #-->
    <!--#                      Simple Types                     #-->
    <!--#                                                        #-->
    <!--##########################################################-->
    
    <xsd:simpleType name="RequestedCoverageStartDateType">
        <xsd:restriction base="xsd:date">
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CountryOfIssuanceType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="5" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="FiveYearBarApplicabilityIndicatorType">
        <xsd:restriction base="xsd:boolean"/>        
    </xsd:simpleType>
    
    <xsd:simpleType name="RequesterCommentsForHubType">
        <xsd:restriction base="xsd:string">
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CategoryCodeType">
        <xsd:restriction base="xsd:string">
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="AlienNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="I94NumberType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="11" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="SEVISIDType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="PassportNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="6"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="NaturalizationNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{7,12}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CitizenshipNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{7,12}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ReceiptNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="13"/>
        </xsd:restriction>
    </xsd:simpleType>
        
    <xsd:simpleType name="FirstNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
            <xsd:minLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="MiddleNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
            <xsd:minLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="LastNameType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
            <xsd:minLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:date">
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="VisaNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="8"/>
        </xsd:restriction>
    </xsd:simpleType> 
    
    <xsd:simpleType name="LawfulPresenceVerifiedCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[ynpYNP]" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="FiveYearBarApplyCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[ynpxYNPX]" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="GrantDateType">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>    
 
    <xsd:simpleType name="GrantDateReasonCdType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>    
    
    <xsd:simpleType name="SponsorDataFoundIndicatorType">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>    
    
    <xsd:simpleType name="SponsorshipReasonCdType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>    
    
    <xsd:simpleType name="PhotoIncludedIndicatorType">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>       
    
    <xsd:simpleType name="PhotoBinaryAttachmentType">
        <xsd:restriction base="xsd:base64Binary"
            xmime:expectedContentTypes="application/octet-stream" 
            xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CaseSentToSecondaryIndicatorType">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>    
        
    <xsd:simpleType name="QualifiedNonCitizenCodeType">
        <xsd:annotation>
            <xsd:documentation>This element identifies the qualified non-citizen status 
                of the individual.  (Y-Yes, N-No or P-Pending).  This indicator is 
                created in the Hub.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[ynpYNP]" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="CaseNumberType">
        <xsd:annotation>
            <xsd:documentation>The unique case verification number assigned to this 
                query. The last two characters in the case number must be upper case.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z|A-Z|0-9]{13}[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="FiveYearBarMetCodeType">
        <xsd:annotation>
            <xsd:documentation>
                FiveYearBarMetIndicator: This element identifies the individuals who 
                were barred from services for 5 years have met the timeline requirement.
                For Sprint 10, this field will be populated with 'P' (Pending). In the 
                future, logic will dictate the value, and update the value for the
                fiveYearBarIndicator as appropriate.
                FiveYearBarIndicator: Identifies if the individual is barred from 
                services for 5 years (Y–Yes, N-No, P-Pending, X-N/A) – this indicator is 
                created in the Hub.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[ynpxYNPX]" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="USCitizenCodeType">
        <xsd:annotation>
            <xsd:documentation>Identifies if the individual is a US Citizen.
                (Y–Yes, N-No, P-Pending, X-N/A) – this indicator is 
                created in the Hub.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[ynpxYNPX]" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="NonCitAdmittedToTextType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="NonCitCountryBirthCdType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="NonCitCountryCitCdType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="NonCitCoaCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="EligStatementCdType">
        <xsd:restriction base="xsd:integer"> 
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="EligStatementTxtType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="64"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="WebServSftwrVerType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="DSHAutoTriggerStepTwoType">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    
    <!-- ============================================-->
    <!--          Error Handling SimpleTypes         -->
    <!-- ============================================-->
    
    <xsd:simpleType name="ResponseCodeType">
        <xsd:annotation>
            <xsd:documentation>
                Response code in initiated by the HUB indicating failure or success of the request.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:length value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="ResponseDescriptionTextType">
        <xsd:annotation>
            <xsd:documentation>
                Description of the Response Code.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="TDSResponseDescriptionTextType">
        <xsd:annotation>
            <xsd:documentation>
                In the event that a TDS sends the Hub a new error code, this field will be populated
                with a description of the new code.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
        </xsd:restriction>
    </xsd:simpleType>
    
    <!--##########################################################-->
    <!--#                                                        #-->
    <!--#                       Elements                         #-->
    <!--#                                                        #-->
    <!--##########################################################-->
       

    <xsd:element name="FirstName" type="vlprev:FirstNameType">
        <xsd:annotation>
            <xsd:documentation>The applicant's first name from any document in the verification process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MiddleName" type="vlprev:MiddleNameType">
        <xsd:annotation>
            <xsd:documentation>The applicant's middle name from any document in the verification process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LastName" type="vlprev:LastNameType">
        <xsd:annotation>
            <xsd:documentation>The applicant's last name from any document in the verification process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DateOfBirth" type="vlprev:DateType">
        <xsd:annotation>
            <xsd:documentation>The applicant's birth date from any document in the verification process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RequestedCoverageStartDate" type="vlprev:RequestedCoverageStartDateType">
        <xsd:annotation>
            <xsd:documentation>The date when the applicant desires coverage to begin.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element> 
    <xsd:element name="FiveYearBarApplicabilityIndicator" 
        type="vlprev:FiveYearBarApplicabilityIndicatorType">
        <xsd:annotation>
            <xsd:documentation>Identifies if the Hub needs to check five-year bar apply criteria for the 
                applicant (true-Yes, false-No) based on 08/22/1996 entry.
                If the applicant entered the country before 08/22/1996, the indicator will be set to “False”. 
                If the applicant entered the country on or after 08/22/1996, the indicator will be set to “True”.
                Note: The Administering Entity (Requester) sends this indicator to the hub.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>   
    <xsd:element name="RequesterCommentsForHub" type="vlprev:RequesterCommentsForHubType">
        <xsd:annotation>
            <xsd:documentation>     ********************
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element> 
    <xsd:element name="CategoryCode" type="vlprev:CategoryCodeType">
        <xsd:annotation>
            <xsd:documentation>     ************************
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="I94Number" type="vlprev:I94NumberType">
        <xsd:annotation>
            <xsd:documentation>The applicant’s I-94 number (admission number).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlienNumber" type="vlprev:AlienNumberType">
        <xsd:annotation>
            <xsd:documentation>The Alien Number of the applicant.
                applying for the benefit(s).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ReceiptNumber" type="vlprev:ReceiptNumberType">
        <xsd:annotation>
            <xsd:documentation>The receipt or card number of the applicant .
                Note: The receipt number is 13 characters long, with the first 3 characters alpha 
                and the remaining 10 numeric characters.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CitizenshipNumber" type="vlprev:CitizenshipNumberType">
        <xsd:annotation>
            <xsd:documentation>The Citizenship number of the applicant.
                Note: The Citizenship Certification Number must be between 7 and 12 characters 
                long and must contain numeric characters. Pre-1956 certificates do not contain 
                an A Number. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NaturalizationNumber" type="vlprev:NaturalizationNumberType">
        <xsd:annotation>
            <xsd:documentation>The Naturalization Certificate number of the applicant.
                Note: The Naturalization Number must be between 7 and 12 characters long and must 
                contain numeric characters. Pre-1956 certificates do not contain an alien number. 
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VisaNumber" type="vlprev:VisaNumberType">
        <xsd:annotation>
            <xsd:documentation>The Visa Number of the applicant.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SEVISID" type="vlprev:SEVISIDType">
        <xsd:annotation>
            <xsd:documentation>The SEVIS ID of the applicant.
                Note to End User: SEVIS IDs start with the letter N followed by 10 digits. In 
                this interface, remove the leading letter N and pass only the 10 digits.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>      
    <xsd:element name="PassportNumber" type="vlprev:PassportNumberType">
        <xsd:annotation>
            <xsd:documentation>The foreign Passport Number of the applicant.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CountryOfIssuance" type="vlprev:CountryOfIssuanceType">
        <xsd:annotation>
            <xsd:documentation>This field contains the Country of Issuance country code for 
                a passport presented to SAVE. This field is required if a passport number exist 
                in the PassportNumber field.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PassportCountry" type="vlprev:PassportCountryType">
        <xsd:annotation>
            <xsd:documentation>This complex type was created in order to enforce the rule
                that CountryOfIssuance must be submitted if PassportNumber is present on
                the request. This complex type is optional, so that if PassportNumber is 
                not included, neither is needed. However, if PassportNumber is submitted,
                this complex type must be populated with both fields.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="ReverifyAgency3InitVerifResponseSet" type="vlprev:ReverifyAgency3InitVerifResponseSetType">
        <xsd:annotation>
            <xsd:documentation>This is an optional object within the root response element (the other object
                being ResponseMetadata) In the event that DHS could not provide the data for whatever reason, 
                the data in this object will not be populated.
                If the Hub is able to get response data from DHS, this will be popluated with said data.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LawfulPresenceVerifiedCode" type="vlprev:LawfulPresenceVerifiedCodeType">
        <xsd:annotation>
            <xsd:documentation>Identifies the lawful presence (Y-Yes, N-No, or P-Pending)
                Note: The Hub creates this indicator.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CaseNumber" type="vlprev:CaseNumberType">
        <xsd:annotation>
            <xsd:documentation>The unique case verification number assigned to this 
                query. The last two characters in the case number must be upper case.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitLastName" type="vlprev:LastNameType">
        <xsd:annotation>
            <xsd:documentation>The non-citizen last name, as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitFirstName" type="vlprev:FirstNameType">
        <xsd:annotation>
            <xsd:documentation>The non-citizen first name, as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitMiddleName" type="vlprev:MiddleNameType">
        <xsd:annotation>
            <xsd:documentation>The non-citizen middle name, as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitBirthDate" type="vlprev:DateType">
        <xsd:annotation>
            <xsd:documentation>The non-citizen birth date, as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitEntryDate" type="vlprev:DateType">
        <xsd:annotation>
            <xsd:documentation>The non-citizen entry date, as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitAdmittedToDate" type="vlprev:DateType">
        <xsd:annotation>
            <xsd:documentation>The date non-citizen is admitted until, as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitAdmittedToText" type="vlprev:NonCitAdmittedToTextType">
        <xsd:annotation>
            <xsd:documentation>If the AdmittedToDate member specifies no actual date, this data element 
                contains a textual string. It may contain the values Indefinite or D/S (denoting duration 
                of stay).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitCountryBirthCd" type="vlprev:NonCitCountryBirthCdType">
        <xsd:annotation>
            <xsd:documentation>The non-citizen country of birth as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitCountryCitCd" type="vlprev:NonCitCountryCitCdType">
        <xsd:annotation>
            <xsd:documentation>The non-citizen country of citizenship as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitCoaCode" type="vlprev:NonCitCoaCodeType">
        <xsd:annotation>
            <xsd:documentation>The COA code, as found in the DHS DB.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NonCitEadsExpireDate" type="vlprev:DateType">
        <xsd:annotation>
            <xsd:documentation>The expiration date of the most recently issued EAD.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EligStatementCd" type="vlprev:EligStatementCdType">
        <xsd:annotation>
            <xsd:documentation>CPS unique Eligibility Statement code (a.k.a. message code).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EligStatementTxt" type="vlprev:EligStatementTxtType">
        <xsd:annotation>
            <xsd:documentation>The Eligibility Statement text.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="WebServSftwrVer" type="vlprev:WebServSftwrVerType">
        <xsd:annotation>
            <xsd:documentation>The version number of the CPS software that executed this Web Service method.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GrantDate" type="vlprev:GrantDateType">
        <xsd:annotation>
            <xsd:documentation>Date that the applicant’s Asylum, Parolee, Refugee, or 
                LPR status was granted.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GrantDateReasonCd" type="vlprev:GrantDateReasonCdType">
        <xsd:annotation>
            <xsd:documentation>Reason Grant Date was not found.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SponsorDataFoundIndicator" type="vlprev:SponsorDataFoundIndicatorType">
        <xsd:annotation>
            <xsd:documentation>Field indicating whether or not sponsorship data was found.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SponsorshipReasonCd" type="vlprev:SponsorshipReasonCdType">
        <xsd:annotation>
            <xsd:documentation>Reason Sponsorship Data was not found.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PhotoIncludedIndicator" type="vlprev:PhotoIncludedIndicatorType">
        <xsd:annotation>
            <xsd:documentation>Field indicating whether or not a photo was found.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PhotoBinaryAttachment" type="vlprev:PhotoBinaryAttachmentType">
        <xsd:annotation>
            <xsd:documentation>Photo returned from ISRS/CPMS.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CaseSentToSecondaryIndicator" type="vlprev:CaseSentToSecondaryIndicatorType">
        <xsd:annotation>
            <xsd:documentation>Field indicating whether or not the case was sent to Secondary.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DSHAutoTriggerStepTwo" type="vlprev:DSHAutoTriggerStepTwoType">
        <xsd:annotation>
            <xsd:documentation>A Hub derived field that denotes the auto invoking of the Step 2 
                lawful presence service.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FiveYearBarApplyCode" type="vlprev:FiveYearBarApplyCodeType">
        <xsd:annotation>
            <xsd:documentation>Identifies if the individual is barred from services for 
                5 years (Y-Yes, N-No, P-Pending, X-N/A)
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="QualifiedNonCitizenCode" type="vlprev:QualifiedNonCitizenCodeType">
        <xsd:annotation>
            <xsd:documentation>This element identifies the qualified non-citizen status 
                of the individual.  (Y-Yes, N-No or P-Pending).  This indicator is 
                created in the Hub.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FiveYearBarMetCode" type="vlprev:FiveYearBarMetCodeType">
        <xsd:annotation>
            <xsd:documentation>
                FiveYearBarMetIndicator: This element identifies the individuals who 
                were barred from services for 5 years have met the timeline requirement.
                For Sprint 10, this field will be populated with 'P' (Pending). In the 
                future, logic will dictate the value, and update the value for the
                fiveYearBarIndicator as appropriate.
                FiveYearBarIndicator: Identifies if the individual is barred from 
                services for 5 years (Y–Yes, N-No, P-Pending, X-N/A) – this indicator is 
                created in the Hub.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="USCitizenCode" type="vlprev:USCitizenCodeType">
        <xsd:annotation>
            <xsd:documentation>Identifies if the individual is a US Citizen.
                (Y–Yes, N-No, P-Pending, X-N/A) – this indicator is 
                created in the Hub.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>        
    
    <xsd:element name="ArrayOfSponsorshipData" type="vlprev:ArrayOfSponsorshipDataType">
        <xsd:annotation>
            <xsd:documentation>Array of SponsorshipData objects. This list contains the set of SponsorshipData
                objects. Each instance of a SponsorshipData object identifies one individual who sponsored the 
                applicant. This field will contain data only if sponsoredInd has a value of Y.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>    
      
    <xsd:element name="ResponseMetadata" type="vlprev:ResponseMetadataType">
        <xsd:annotation>
            <xsd:documentation>Standard Hub level response code. TBD: Full set of code values and
                descriptions. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ResponseCode" type="vlprev:ResponseCodeType">
        <xsd:annotation>
            <xsd:documentation>Standard Hub level response code. TBD: Full set of code values and
                descriptions. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ResponseDescriptionText" type="vlprev:ResponseDescriptionTextType">
        <xsd:annotation>
            <xsd:documentation>Standard Hub level response code description. </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TDSResponseDescriptionText" type="vlprev:TDSResponseDescriptionTextType">
        <xsd:annotation>
            <xsd:documentation>
                In the event that a TDS sends the Hub a new error code, this field will be populated
                with a description of the new code.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
</xsd:schema>