lib/aca_entities/fdsh/h36/xsd/XMLschemas/COMMON/IRS-CBC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns="urn:us:gov:treasury:irs:common" targetNamespace="urn:us:gov:treasury:irs:common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>IRS COMMON Basic Components</DictionaryEntryNm>
				<MajorVersionNum>10</MajorVersionNum>
				<MinorVersionNum>1</MinorVersionNum>
				<VersionEffectiveBeginDt>04-13-2018</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Implemented UWR 203958 changes</VersionDescriptionTxt>
				<DescriptionTxt>Common Basic Components created with IRS design and validation principles</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
    <!-- ===== Includes / Imports =====-->	
	<xsd:include schemaLocation="../COMMON/IRS-SDT.xsd"/>
    <!--===== IRS COMMON Basic Components =====-->
	<xsd:element name="ACABusinessCorrelationId" type="ACABusinessCorrelationIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>ACA (Affordable Care Act) Business Correlation Identification</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A business correlation identifier used for all request and response messages in ACA messages exchanges.</DescriptionTxt>
					<DataElementId>163258</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AcknowledgementStatusCd" type="AcknowledgementStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Acknowledgement Status Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to indicate the status of an acknowledgement.</DescriptionTxt>
					<DataElementId>163257</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine1Txt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Address Line 1 Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The first line of text used in a street address</DescriptionTxt>
					<DataElementId>163410</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine2Txt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Address Line 2 Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The second line of text used in a street address</DescriptionTxt>
					<DataElementId>163411</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AdjustedGrossIncomeAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>AGI (Adjusted Gross Income) Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-10-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>MeF r6</VersionDescriptionTxt>
					<DescriptionTxt>Adjusted Gross Income (TIF-60, ADJ GROSS INCOME AMT)</DescriptionTxt>
					<DataElementId>119350</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AggregateHouseholdIncomeAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Aggregate Household Income Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The aggregated amount of income for a household</DescriptionTxt>
					<DataElementId>163267</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ApplicableCoverageMonthNum" type="MonthNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Applicable Coverage Month Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Applicable Coverage Month</DescriptionTxt>
					<DataElementId>173917</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ApplicableCoverageYr" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Applicable Coverage Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Applicable Coverage Year</DescriptionTxt>
					<DataElementId>173916</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AppSysID" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Application System Identification</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-05-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Identifies the Application System ID (username) of the A2A client calling this web service.  The AppSysID element is optional.  It is not required for password authenticated users.  However, AppSysID is mandatory for all requests from Strong Authentication users.</DescriptionTxt>
					<DataElementId>163043</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="APTCPaymentAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>APTC Payment Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>APTC payment made to issuer on behalf of tax filer associated with the policy on a monthly basis within the calendar year</DescriptionTxt>
					<DataElementId>173919</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttachmentByteSizeNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Attachment Byte Size Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A size of a binary object (attachment) in bytes.</DescriptionTxt>
					<DataElementId>166001</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttributeID" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Attribute Identification (ID)</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-05-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Used with Strong Authentication to identify the value referenced in a SignedInfo/Reference used to generate a XML digital signature DigestValue.  It is optional and permitted on all requests, although it is only required on signed request from Strong Authentication users.</DescriptionTxt>
					<DataElementId>163049</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchAttachmentTransmissionQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Attachment Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of total number of attachments in a batch submission (across all transmissions).</DescriptionTxt>
					<DataElementId>166002</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchCategoryCd" type="BatchCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Category Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The kind of batch submission, a cummulative list of predetermined values identifying each possible kind of batch processing (IRS_EOM_REQ, IRS_EOY_REQ, IRS_EOM_RESP, and IRS_EOY_RESP).</DescriptionTxt>
					<DataElementId>166003</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchId" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a batch submission used to identify multiples submissions of the same set of files that make up the report submittal or redetermination bulk submittal (The BatchId would be repeated for split submissions).</DescriptionTxt>
					<DataElementId>166004</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchPartnerId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Partner Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a participant in the Health Insurance Exchange Ecosystem. Expected to be duplication of Partner ID provided inside attached file to identify which Partner has submitted a report/request.</DescriptionTxt>
					<DataElementId>166005</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchTransmissionQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of transmissions in a batch submission. The total number of submissions required to complete the report submittal due to files being split to meet max file size.</DescriptionTxt>
					<DataElementId>166006</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryFormatCd" type="BinaryFormatCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Binary Format Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a file format of content type of a binary object. Extensible Markup Language (XML) is the only accepted type at this time.</DescriptionTxt>
					<DataElementId>166010</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BirthDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Birth Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-08-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Person's Date of Birth information</DescriptionTxt>
					<DataElementId>140881</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BulkExchangeFile" type="xsd:base64Binary" xmime:expectedContentTypes="*/*">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Bulk Exchange File</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-10</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>This is a file used for exchange of ACA bulk information</DescriptionTxt>
					<DataElementId>163256</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BusinessNameLine1" type="BusinessNameLine1Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Line 1</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Typically used for a business name. Legal Characters: A-Z, a-z, 0-9, hash, hyphen, parentheses, ampersand, apostrophe and single space. Illegal Character: leading space, trailing space, adjacent spaces, and other symbols</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BusinessNameLine2" type="BusinessNameLine2Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Line 2</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Typically used for line 2 of a business name. Legal Characters: A-Z, a-z, 0-9, hash, slash, percent, hyphen, parentheses, ampersand, apostrophe and single space. Illegal Character: leading space, trailing space, adjacent spaces, and other symbols.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChecksumAugmentationNum" type="SHA256Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Checksum Augmentation Number</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>04-06-2018</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Updated from MD5Type to SHA256Type.</VersionDescriptionTxt>
					<DescriptionTxt>An SHA256 Checksum value provided by Requestors and IRS for Hub to verify the size of file received is the same as the size transmitted.</DescriptionTxt>
					<DataElementId>166011</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CityNm" type="CityType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>City Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<VersionEffectiveBeginDt>2014-10-09</VersionEffectiveBeginDt>
					<CACInd>N</CACInd>
					<Status>R</Status>
					<DescriptionTxt>Name of the city</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ComputerTaxableSocSecAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Computer Taxable Social Security Benefit Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-08-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Computer (IRS-Corrected) for the taxabale amount of socal secutiry benefits received</DescriptionTxt>
					<DataElementId>151211</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCd" type="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Country Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2006-03-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ELDM 3.1  (mapped to ELDM 5.1, 11/27/2007)</VersionDescriptionTxt>
					<DescriptionTxt>The name of a nation or state recognized by international postal authorities for delivery of mail - without list of enumerations.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Name Of Country Or United Sates (US) Posession</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Name of country or US posession&#x00a0;</DescriptionTxt>
					<DataElementId>156328</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CoverageEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Coverage End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage ends for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementId>173922</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CoverageStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Coverage Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage starts for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementId>173921</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSequenceNum" type="DocumentSequenceNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-30</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Developed a generic sequence number for document</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to complete the identification of the submitted document</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSystemFileNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document System File Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-07-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>AMS R 2.1 Service</VersionDescriptionTxt>
					<DescriptionTxt>TheoOperating system (OS) file name of a document.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EIN" type="EINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EIN</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Type for Employer Identification No. - 9 digits</DescriptionTxt>
					<DataElementId>120596</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeQHPShareOfPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Qualified Health Plan (QHP) Share Of Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The monthly dollar amount the employee would pay for the plan offered by their employer within the calendar year</DescriptionTxt>
					<DataElementId>173926</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeShrPremForEmplrPlanAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Share Of Premium For Employer Plan Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2015-11-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Employees share of premium amount for employer provided plan</DescriptionTxt>
					<DataElementId>175879</DataElementId>
					<Status>A</Status>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPCoverageStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Qualified Health Plan (QHP) Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date that Employer begins offering coverage through the SHOP Exchange</DescriptionTxt>
					<DataElementId>173924</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPCoverageTermDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Qualified Health Plan (QHP) Termination Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date the Employer stops offering coverage through the SHOP Exchange</DescriptionTxt>
					<DataElementId>173925</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPPremiumContriAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Qualified Health Plan (QHP) Premium Contribution Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The amount of the employer premium contribution</DescriptionTxt>
					<DataElementId>162417</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPPremiumContriPct" type="Percentage100Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Qualified Health Plan (QHP) Premium Contribution Percentage</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Percentage of the premium amount paid by employer within the calendar year</DescriptionTxt>
					<DataElementId>173923</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorMessageCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Message Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ACA</VersionDescriptionTxt>
					<DescriptionTxt>A code that identifies a type of error</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorMessageTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Message Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ACA</VersionDescriptionTxt>
					<DescriptionTxt>Contains text describing an error message</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorValueTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Value Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Value of the data element that caused the error</DescriptionTxt>
					<DataElementId>173928</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExemptionCertificateNum" type="ExemptionCertificateNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Certificate Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Certificate Number that may include: Combination of Coverage Year, months covered, Exemption Reason Code, number of individuals it applies to, Unique Identifier (Exchange ID?).</DescriptionTxt>
					<DataElementId>163195</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FederalPovertyLevelPct" type="PercentageType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Federal Poverty Level Percent</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The percentage of income based on the federal poverty level</DescriptionTxt>
					<DataElementId>162311</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilerTypeCd" type="FilerTypeCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Filer Type Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionDescriptionTxt>CADE2 - 460-12-11-TC97X</VersionDescriptionTxt>
					<VersionEffectiveBeginDt>2010-03-15</VersionEffectiveBeginDt>
					<DescriptionTxt>Code indicating which filer is associated with the submitted form</DescriptionTxt>
					<DataElementId>160859</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ForeignPostalCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Foreign Postal Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The foreign postal code</DescriptionTxt>
					<DataElementId>163480</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ForeignProvinceNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Foreign Province Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The foreign province name</DescriptionTxt>
					<DataElementId>163479</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HealthExchangeId" type="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Health Exhange Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Unique ID number for the Health Exchange</DescriptionTxt>
					<DataElementId>163202</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HouseholdAPTCAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Household Advanced Payment Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Household APTC payment made to issuer on behalf of tax filer associated with the policy on a monthly basis within the calendar year</DescriptionTxt>
					<DataElementId>173931</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HouseholdIncomeAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Household Income Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The amount of household income</DescriptionTxt>
					<DataElementId>162309</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IncomeAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Income Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-02-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An amount of income</DescriptionTxt>
					<DataElementId>134844</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndividualReturnFilingStatusCd" type="IndividualReturnFilingStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Individual Return Filing Status Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-04-30</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version for notice services, identified in CP54, 6209 codes</VersionDescriptionTxt>
					<DescriptionTxt>Filing Status Codes identify the taxpayer's marital and family situations when filing Forms 1040/1040A/1040EZ. It is an important issue in determining whether the standard deduction or the itemized deduction amount should be allowed.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IRSGroupIdentificationNum" type="StringMin1Max16Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>IRS Group Identification Number</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionDescriptionTxt>Updated version with new SDT StringMin1Max16Type</VersionDescriptionTxt>
					<VersionEffectiveBeginDt>2014-10-21</VersionEffectiveBeginDt>
					<DataElementId>173932</DataElementId>
					<DescriptionTxt>A unique identifier for IRS Group that includes the associated tax households, covered individuals, insurance policies, and / or exemptions</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IssuerNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Issuer Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-08-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Spreadsheet Mappings</VersionDescriptionTxt>
					<DescriptionTxt>Issuer Name</DescriptionTxt>
					<DataElementId>120226</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MaximumPremiumTaxCreditAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Maximum Premium Tax Credit Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The maximum amount of a premium tax credit</DescriptionTxt>
					<DataElementId>162313</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MECStatusInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>MEC StatusCode</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-03</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A code that respresent the MEC (Minimum Essential Coverage) status</DescriptionTxt>
					<DataElementId>163157</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthsExemptEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Months Exempt End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date individual exemption will end</DescriptionTxt>
					<DataElementId>173934</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthsExemptStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Months Exempt Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date individual exemption will start</DescriptionTxt>
					<DataElementId>173933</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalBatchId" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Original Batch Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a original batch submission used to identify multiples submissions of the same set of files that make up the report submittal or redetermination bulk submittal</DescriptionTxt>
					<DataElementId>166004</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PediatricDentalPlanPremiumInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Pediatric Dental Plan Premium Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-26</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Indicator for the QHP&#x2019;s Total Monthly Premium Amount includes Pediatric Dental</DescriptionTxt>
					<DataElementId>173936</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFirstName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person First Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>The first name of a person</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonLastName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person Last Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>The last name of a person</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonMiddleName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person Middle Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-12-12</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The middle name of a person</DescriptionTxt>
					<DataElementId>164084</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PolicyCoverageEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Policy Coverage End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage ends for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementId>173938</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PolicyCoverageStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Policy Coverage Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage starts for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementId>173937</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QHPFamilyOrIndivCoverageCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Qualified Health Plan (QHP) Family Or Individual Coverage Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code that identifies if the qualified health plan covers only the individual or allows for family coverage</DescriptionTxt>
					<DataElementId>162423</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QHPIssuerEIN" type="EINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Qualified Health Plan (QHP) Issuer Employer Identification Number (EIN)</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The employer identification number (EIN) of the qualified healt plan issuer</DescriptionTxt>
					<DataElementId>162424</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QHPPolicyNum" type="StringMin6Max50Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Qualified Health Plan (QHP) Policy Number</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionDescriptionTxt>Updated version to include SDT StringMin6Max50Type and new DescriptionTxt by removing text 'selected by an employee'</VersionDescriptionTxt>
					<VersionEffectiveBeginDt>2014-10-21</VersionEffectiveBeginDt>
					<DescriptionTxt>The policy number of the qualified health plan</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestId" type="RequestIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Request Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ACA</VersionDescriptionTxt>
					<DescriptionTxt>The identifier for a request</DescriptionTxt>
					<DataElementId>163227</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponseCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Respone Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Short description of response code</DescriptionTxt>
					<DataElementId>163218</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponseCodeDescription" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Respone Code Description</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2015-04-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Long description of response code</DescriptionTxt>
					<DataElementId>163219</DataElementId>
					<Status>R</Status>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RmngBenchmarkHshldContriAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Remaining Benchmark Household Contribution Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The amount the remaining benchmark household contribution</DescriptionTxt>
					<DataElementId>162312</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceNum" type="SequenceNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-11-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Developed a generic sequence number for tax account module freeze, hold and status codes</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to complete the identification of this dependent data class</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SLCSPAdjMonthlyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Second Lowest Cost Silver Plan (SLCSP) Adjusted Monthly Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The adjusted amount of the premium for the Second Lowest Cost Silver Plan (SLCSP)</DescriptionTxt>
					<DataElementId>162310</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SLCSPMonthlyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Second Lowest Cost Silver Plan (SLCSP) Monthly Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2015-11-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The monthly amount due for Second Lowest Cost Silver Plan (SLCSP)</DescriptionTxt>
					<DataElementId>175878</DataElementId>
					<Status>A</Status>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpouseTIN" type="TINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Spouse Taxpayer Identification Number (TIN)</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The TIN of the spouse.</DescriptionTxt>
					<DataElementId>163221</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SSN" type="SSNType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SSN</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for Social Security No. - 9 digits</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionMonthNum" type="MonthNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Month Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Month in which exchange report is submitted</DescriptionTxt>
					<DataElementId>173940</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionYr" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The year in which exchange report is submitted.</DescriptionTxt>
					<DataElementId>173941</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SuffixName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Suffix Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-07</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A suffix used in a name.Examples include Jr., Sr., etc.</DescriptionTxt>
					<DataElementId>163507</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SystemDocumentId" type="SystemIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>System Document Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-07-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>AMS R 2.1</VersionDescriptionTxt>
					<DescriptionTxt>A system generated number that uniquely identifies a document</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxpayerIdentificationNumber" type="SSNType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Taxpayer Identification Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08 00:00:00</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>A taxpayer's ID (SSN)</DescriptionTxt>
					<DataElementId>151030</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxYear" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Tax Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-05-12</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>for Notice Services/CADE</VersionDescriptionTxt>
					<DescriptionTxt>The year of this tax period - YYYY</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TestIndicator" type="TestIndicatorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Test Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-05-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Identifies if the request is production request or a test request.  The expected values are "P" (to indicate that this is a production request) or "T" (to indicate that this is a test request).</DescriptionTxt>
					<DataElementId>163045</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Timestamp" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a date and time stamp - Timezone portion is required and fractional seconds are prohibited</DescriptionTxt>
					<Status>R</Status>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TIN" type="TINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>TIN (Taxpayer Identification Number)</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-03-21</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Taxpayer Identification Number (TIN)</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalExemptionsCnt" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Total Exemptions Count</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The total of all exemptions entered on a return</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalHsldMonthlyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Total Household Monthly Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Total monthly premium amounts for coverage without regard for APTC payments or cost sharing reductions within the calendar year for a household.</DescriptionTxt>
					<DataElementId>173943</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalQHPMonthlyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Total Qualified Health Plan Monthly Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Total qualified health plan premium amount within the calendar year for a household.</DescriptionTxt>
					<DataElementId>173944</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransmissionAttachmentQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Attachment Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of attachments included in a single transmission message.</DescriptionTxt>
					<DataElementId>166014</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="USStateCd" type="StateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>U.S. State Code</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2015-11-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Updated element type from USStateCdType to StateType</VersionDescriptionTxt>
					<DescriptionTxt>US state code to accept all valid USPS state abbreviations including military and US territories</DescriptionTxt>
					<DataElementId>173948</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="USZIPCd" type="USZIPCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>United States ZIP Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A 5 digit number assigned by the United States Postal Service used to designate sectional center and delivery area for mail distribution.</DescriptionTxt>
					<DataElementId>173949</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="USZIPExtensionCd" type="USZIPExtensionCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>United States ZIP Extension Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A 4 digit number assigned by the United States Postal Service (USPS) used to designate sectors and segments for mail distribution.  The ZIP Code and this ZIP Plus Four Extension Code together constitute the USPS "ZIP + 4" code.  "ZIP + 4" is a USPS trademark.  Examples include the "1312" of the 9 digit Zip Code "22153-1312".</DescriptionTxt>
					<DataElementId>173950</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="XpathContent" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Xpath Content</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ACA</VersionDescriptionTxt>
					<DescriptionTxt>Contains the Xpath identifying a specific element</DescriptionTxt>
					<DataElementId>163225</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Year" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>1/1/2010</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>MeF R7, Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Year identifer</DescriptionTxt>
					<DataElementId>153894</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="YearMonth" type="xsd:gYearMonth">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Year Month</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>1/1/2010</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date format of YYYY-MM.</DescriptionTxt>
					<DataElementId>166015</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
