lib/aca_entities/atp/xml/constraint/niem/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--AT-041916-MD/XMLschemas/constraint/XMLschemas/niem/niem-core.xsd-->
<xsd:schema xmlns:fips_6-4="http://niem.gov/niem/fips_6-4/2.0"
   xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1"
   xmlns:iso_3166="http://niem.gov/niem/iso_3166/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0"
   xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0"
   xmlns:usps="http://niem.gov/niem/usps_states/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:xi="http://www.w3.org/2001/XInclude" attributeFormDefault="qualified"
   elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
   <xsd:annotation>
      <xsd:appinfo>
         <i:ConformantIndicator>true</i:ConformantIndicator>
      </xsd:appinfo>
      <xsd:documentation source="">NIEM Core includes both Universal (U) and Common (C) components. The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://niem.gov/niem/appinfo/2.0"
      schemaLocation="../subset/niem/appinfo/2.0/appinfo.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/appinfo/2.1"
      schemaLocation="../subset/niem/appinfo/2.1/appinfo.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0"
      schemaLocation="../subset/niem/proxy/xsd/2.0/xsd.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/structures/2.0"
      schemaLocation="../subset/niem/structures/2.0/structures.xsd"/>
   <xsd:import namespace="http://niem.gov/niem/usps_states/2.0"
      schemaLocation="usps_states/2.0/usps_states.xsd"/>
   <xsd:element name="ActivityDate" type="nc:DateType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="ActivityDateRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A date of an activity.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="ActivityDateRepresentation" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A date an activity occurs.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="ActivityIdentification" nillable="false"
      type="nc:IdentificationType">
      <xsd:annotation>
         <xsd:documentation source="">An identification that references an activity.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="AddressDeliveryPoint" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A single place or unit at which mail is delivered.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="AddressRepresentation" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A representation of an address.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="AddressSecondaryUnitText" type="nc:TextType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AddressDeliveryPoint" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A particular unit within a larger unit or grouping at a location.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="AssociationBeginDate" nillable="true" type="nc:DateType">
      <xsd:annotation>
         <xsd:documentation source="">A date an association begins.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="AssociationEndDate" nillable="false" type="nc:DateType">
      <xsd:annotation>
         <xsd:documentation source="">A date an association ends.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="ContactEmailID" type="niem-xsd:string" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="ContactMeans" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">An electronic mailing address by which a person or organization may be contacted.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="ContactInformationIsPrimaryIndicator" nillable="true"
      type="niem-xsd:boolean">
      <xsd:annotation>
         <xsd:documentation source="">True if the contact information is the primary method for contact; false otherwise.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="ContactMailingAddress" type="nc:AddressType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="ContactMeans" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A postal address by which a person or organization may be contacted.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="ContactMeans" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A means of contacting someone.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="ContactMeans" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="Date" type="niem-xsd:date" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="DateRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A full date.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="DateRepresentation" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A representation of a date.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="DateTime" type="niem-xsd:dateTime" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="DateRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A full date and time.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="EndDate" nillable="false" type="nc:DateType">
      <xsd:annotation>
         <xsd:documentation source="">An end date.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="FacilityLocation" nillable="false" type="nc:LocationType">
      <xsd:annotation>
         <xsd:documentation source="">A location of a facility.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="FacilityName" nillable="false" type="nc:ProperNameTextType">
      <xsd:annotation>
         <xsd:documentation source="">A name of a facility.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="TelephoneNumberRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A full telephone number.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="IdentificationCategory" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A kind of identification.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="IdentificationCategoryText" type="nc:TextType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="IdentificationCategory" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A kind of identification.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="IdentificationID" nillable="false" type="niem-xsd:string">
      <xsd:annotation>
         <xsd:documentation source="">A value that identifies something.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="IdentificationJurisdiction" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="IdentificationJurisdictionISO3166Alpha3Code" type="niem-xsd:string"
      nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="IdentificationJurisdiction" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="Language" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A system of words or symbols used for communication.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LanguageName" type="nc:TextType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Language" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A system of words or symbols used for communication.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="LocationAddress" nillable="false" type="nc:AddressType">
      <xsd:annotation>
         <xsd:documentation source="">A geophysical location described by postal information.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="LocationCityName" nillable="true"
      type="nc:ProperNameTextType">
      <xsd:annotation>
         <xsd:documentation source="">A name of a city or town.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="LocationCountry" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LocationCountryISO3166Alpha3Code" type="niem-xsd:string" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="LocationCountry" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="LocationCounty" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LocationCountyCode" type="niem-xsd:string" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="LocationCounty" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LocationCountyName" type="nc:ProperNameTextType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="LocationCounty" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="LocationPostalCode" nillable="true" type="niem-xsd:string">
      <xsd:annotation>
         <xsd:documentation source="">An identifier of a post office-assigned zone for an address.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="LocationState" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" nillable="true">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="LocationState" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="LocationStreet" type="nc:StreetType" nillable="true">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AddressDeliveryPoint" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A road, thoroughfare or highway.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="MeasureValue" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A specific measurement value.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="MeasureValue" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A measurement value.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="OrganizationIdentification" nillable="false"
      type="nc:IdentificationType">
      <xsd:annotation>
         <xsd:documentation source="">An identification that references an organization.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="OrganizationName" nillable="true" type="nc:TextType">
      <xsd:annotation>
         <xsd:documentation source="">A name of an organization.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="OrganizationPrimaryContactInformation" nillable="false"
      type="nc:ContactInformationType">
      <xsd:annotation>
         <xsd:documentation source="">A preferred means of contacting an organization.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="OrganizationReference" nillable="false"
      type="s:ReferenceType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:ReferenceTarget i:name="OrganizationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A unit which conducts some sort of business or operations.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonAgeMeasure" nillable="false" type="nc:TimeMeasureType">
      <xsd:annotation>
         <xsd:documentation source="">A measurement of the age of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonBirthDate" nillable="true" type="nc:DateType">
      <xsd:annotation>
         <xsd:documentation source="">A date a person was born.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="PersonEthnicity" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A cultural lineage of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="PersonEthnicityText" type="nc:TextType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="PersonEthnicity" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A cultural lineage of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonFullName" nillable="false" type="nc:PersonNameTextType">
      <xsd:annotation>
         <xsd:documentation source="">A complete name of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonGivenName" nillable="false"
      type="nc:PersonNameTextType">
      <xsd:annotation>
         <xsd:documentation source="">A first name of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonLivingIndicator" nillable="false"
      type="niem-xsd:boolean">
      <xsd:annotation>
         <xsd:documentation source="">True if a person is alive, false if a person is dead.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonMiddleName" nillable="false"
      type="nc:PersonNameTextType">
      <xsd:annotation>
         <xsd:documentation source="">A middle name of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonName" nillable="false" type="nc:PersonNameType">
      <xsd:annotation>
         <xsd:documentation source="">A combination of names and/or titles by which a person is known.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonNameSuffixText" nillable="false" type="nc:TextType">
      <xsd:annotation>
         <xsd:documentation source="">A term appended after the family name that qualifies the name.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="PersonRace" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="PersonRaceText" type="nc:TextType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="PersonRace" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonReference" nillable="false" type="s:ReferenceType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:ReferenceTarget i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A human being.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonSSNIdentification" nillable="false"
      type="nc:IdentificationType">
      <xsd:annotation>
         <xsd:documentation source="">A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="PersonSex" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A gender or sex of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="PersonSexText" type="nc:TextType" nillable="true">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="PersonSex" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A gender or sex of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonSpeaksLanguageIndicator" nillable="false"
      type="niem-xsd:boolean">
      <xsd:annotation>
         <xsd:documentation source="">True if a person is able to speak a language; false otherwise.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonSurName" nillable="true" type="nc:PersonNameTextType">
      <xsd:annotation>
         <xsd:documentation source="">A last name or family name of a person.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonUSCitizenIndicator" nillable="true"
      type="niem-xsd:boolean">
      <xsd:annotation>
         <xsd:documentation source="">True if a person is a citizen of the United States; false otherwise.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="PersonWritesLanguageIndicator" nillable="false"
      type="niem-xsd:boolean">
      <xsd:annotation>
         <xsd:documentation source="">True if a person is able to write a language; false otherwise.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="StartDate" nillable="false" type="nc:DateType">
      <xsd:annotation>
         <xsd:documentation source="">A date on which something begins.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="StreetFullText" nillable="false" type="nc:TextType">
      <xsd:annotation>
         <xsd:documentation source="">A complete reference for a street.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AddressRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">An address.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="SupervisionFacility" nillable="false" type="nc:FacilityType">
      <xsd:annotation>
         <xsd:documentation source="">A facility at which a subject is being supervised.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="TelephoneNumberFullID" nillable="false"
      type="niem-xsd:string">
      <xsd:annotation>
         <xsd:documentation source="">A complete telephone number.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="true" name="TelephoneNumberRepresentation" nillable="false">
      <xsd:annotation>
         <xsd:documentation source="">A data concept for a A telephone number.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element abstract="false" name="TelephoneSuffixID" nillable="false" type="niem-xsd:string">
      <xsd:annotation>
         <xsd:documentation source="">A Additional numbers to be entered after a call connects to be directed to the appropriate place.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="Year" type="niem-xsd:gYear" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="DateRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A year.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="YearMonth" type="niem-xsd:gYearMonth" nillable="false">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="DateRepresentation" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A year and month.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType abstract="false" mixed="false" name="ActivityType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a single or set of related actions, events, or process steps.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:ActivityIdentification"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:ActivityDate"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="AddressType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a geophysical location described by postal information.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:StructuredAddress"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="AmountType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for an amount of money.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="niem-xsd:decimal"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="AssociationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Association" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A relationship A data type for a connection, relationship, or involvement somehow linking people and/or things together.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:AssociationBeginDate"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:AssociationEndDate"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="ContactInformationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for how to contact a person or an organization.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:ContactEmailID"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:ContactMailingAddress"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:ContactTelephoneNumber"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="DateRangeType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a period of time.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:StartDate"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:EndDate"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="DateType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a calendar date.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:choice minOccurs="0" maxOccurs="1">
                  <xsd:element ref="nc:Date"/>
                  <xsd:element ref="nc:DateTime"/>
                  <xsd:element ref="nc:Year"/>
                  <xsd:element ref="nc:YearMonth"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="FacilityType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a building, place, or structure that provides a particular service.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:FacilityName"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:FacilityLocation"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="FullTelephoneNumberType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a full telephone number.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:TelephoneNumberFullID"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:TelephoneSuffixID"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="IdentificationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a representation of an identity.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" ref="nc:IdentificationID"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:IdentificationCategoryText"/>
               <xsd:element maxOccurs="1" minOccurs="0"
                  ref="nc:IdentificationJurisdictionISO3166Alpha3Code"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="LocationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a geophysical location.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationAddress"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="MeasurePointValueType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a measure point value.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="niem-xsd:decimal"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="MeasureType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a measurement.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:choice minOccurs="0" maxOccurs="1">
                  <xsd:element ref="nc:MeasurePointValue"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="NumericType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a number value.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="niem-xsd:decimal"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="OrganizationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a body of people organized for a particular purpose.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:OrganizationIdentification"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:OrganizationName"/>
               <xsd:element maxOccurs="1" minOccurs="0"
                  ref="nc:OrganizationPrimaryContactInformation"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonAssociationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AssociationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A relationship A data type for an association between people.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nc:AssociationType">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonReference"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonContactInformationAssociationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AssociationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A relationship A data type for an association between a person and contact information.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nc:AssociationType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0"
                  ref="nc:ContactInformationIsPrimaryIndicator"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonEmploymentAssociationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AssociationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A relationship A data type for an association between a person and an employment.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nc:AssociationType">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonLanguageType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a language capability of a person.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:LanguageName"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonSpeaksLanguageIndicator"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonWritesLanguageIndicator"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonLocationAssociationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AssociationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A relationship A data type for an association between a person and a location.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nc:AssociationType">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonReference"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonNameTextType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="nc:ProperNameTextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonNameType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonGivenName"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonMiddleName"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonSurName"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonNameSuffixText"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonFullName"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonOrganizationAssociationType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="AssociationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A relationship A data type for an association between a person and an organization.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nc:AssociationType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:OrganizationReference"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="PersonType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a human being.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonAgeMeasure"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonBirthDate"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonEthnicityText"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonLivingIndicator"/>
               <xsd:element maxOccurs="unbounded" minOccurs="1" ref="nc:PersonName"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonRaceText"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:PersonSexText"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonSSNIdentification"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonUSCitizenIndicator"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="ProperNameTextType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="nc:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="QuantityType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a count or tally.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="nc:NumericType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="StreetType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a road, thoroughfare, or highway.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:StreetFullText"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="StructuredAddressType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for an address.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationStreet"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:AddressSecondaryUnitText"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationCityName"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationCountyName"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationCountyCode"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationStateUSPostalServiceCode"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationCountryISO3166Alpha3Code"/>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:LocationPostalCode"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="SupervisionType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for an act of officially overseeing, supervising, or keeping track in some capacity of a person.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:SupervisionFacility"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="TelephoneNumberType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a telephone number for a telecommunication device.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="s:ComplexObjectType">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="0" ref="nc:FullTelephoneNumber"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="TextType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a character string.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="niem-xsd:string"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType abstract="false" mixed="false" name="TimeMeasureType">
      <xsd:annotation>
         <xsd:appinfo>
            <i:Base i:name="MeasureType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
         </xsd:appinfo>
         <xsd:documentation source="">A data type for a measurement of a quantity of time.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nc:MeasureType">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>
