lib/aca_entities/fdsh/h36/xsd/XMLschemas/MSG/HHS-IRS-EPDErrorResponseMessage-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by ﻿IRS (IRS) -->
<!--Sample XML file generated by XMLSpy v2010 rel. 3 sp1 (http://www.altova.com)-->
<xsd:schema xmlns="urn:us:gov:treasury:irs:msg:hhsirsepderrorresponsedata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:irs="urn:us:gov:treasury:irs:common" xmlns:hhsisr4.0="urn:us:gov:treasury:irs:ext:aca:hhsisr:4.0" targetNamespace="urn:us:gov:treasury:irs:msg:hhsirsepderrorresponsedata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>HHS-IRS Message - EPD Error Response Data</DictionaryEntryNm>
				<MajorVersionNum>1</MajorVersionNum>
				<MinorVersionNum>0</MinorVersionNum>
				<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Added DocumentSequenceNum</VersionDescriptionTxt>
				<DescriptionTxt>Message payload for the SOA service for error response data</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC.xsd"/>
	<xsd:import namespace="urn:us:gov:treasury:irs:ext:aca:hhsisr:4.0" schemaLocation="../EXT/HHS-IRS-EXT-ACA-ISR-4.0.xsd"/>
	<!-- ================================== -->
	<!-- ===== Root Element Declarations ===== -->
	<!-- ================================== -->
	<xsd:element name="HealthExchangeErrors" type="HealthExchangeErrorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Health Exchange Errors</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with a periodic data generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ============================== -->
	<!-- ===== Root Type Defintions ===== -->
	<!-- =============================== -->
	<xsd:complexType name="HealthExchangeErrorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Health Exchange Error Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:SubmissionYr"/>
			<xsd:element ref="irs:SubmissionMonthNum"/>
			<xsd:element ref="irs:ApplicableCoverageYr"/>
			<xsd:element ref="irs:BatchId"/>
			<xsd:element ref="hhsisr4.0:DocumentSequenceNum"/>
			<xsd:element ref="irs:BatchTransmissionQty"/>
			<xsd:choice>
				<xsd:element ref="irs:IndividualExchangeError"/>
				<xsd:element ref="irs:SHOPExchangeError"/>
			</xsd:choice>
			<xsd:element ref="irs:EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="1.1"/>
	</xsd:complexType>
</xsd:schema>
