lib/aca_entities/fdsh/h36/xsd/XMLschemas/MSG/HHS-IRS-MonthlyExchangePeriodicDataMessage-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by ﻿IRS (IRS) -->
<!--Sample XML file generated by XMLSpy v2010 rel. 3 sp1 (http://www.altova.com)-->
<xsd:schema xmlns="urn:us:gov:treasury:irs:msg:monthlyexchangeperiodicdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:irs="urn:us:gov:treasury:irs:common" targetNamespace="urn:us:gov:treasury:irs:msg:monthlyexchangeperiodicdata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>IRS Message - Monthly Exchange Periodic Data Report</DictionaryEntryNm>
				<MajorVersionNum>1</MajorVersionNum>
				<MinorVersionNum>0</MinorVersionNum>
				<VersionEffectiveBeginDt>2013-11-05</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Added elements to SHOP</VersionDescriptionTxt>
				<DescriptionTxt/>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC.xsd"/>
	<!-- ================================== -->
	<!-- ===== Root Element Declarations ===== -->
	<!-- ================================== -->
	<xsd:element name="HealthExchange" type="HealthExchangeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Health Exchange</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-11-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with a periodic data generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ============================== -->
	<!-- ===== Root Type Defintions ===== -->
	<!-- =============================== -->
	<xsd:complexType name="HealthExchangeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>HealthExchange Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-11-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Added elements to SHOPExchange</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:SubmissionYr"/>
			<xsd:element ref="irs:SubmissionMonthNum"/>
			<xsd:element ref="irs:ApplicableCoverageYr"/>
			<xsd:choice>
				<xsd:element ref="irs:IndividualExchange"/>
				<xsd:element ref="irs:SHOPExchange"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="1.1"/>
	</xsd:complexType>
</xsd:schema>
